Repository chef/chef, pull requests merged in 2018-02, with the labels that each got.

#6463 invites_sort_fail: Clean the invites array before sorting it
  lib/chef/chef_fs/data_handler/organization_invites_data_handler.rb
Labels: Status: Ready for Merge

#6612 [MSYS-726] Allow setting environment variables at the user level
  lib/chef/exceptions.rb
  lib/chef/provider/env/windows.rb
  lib/chef/provider/windows_env.rb
  lib/chef/providers.rb
  lib/chef/resource/windows_env.rb
  lib/chef/resources.rb
  spec/functional/resource/env_spec.rb
  spec/functional/resource/windows_env_spec.rb
  spec/unit/exceptions_spec.rb
  spec/unit/provider/env/windows_spec.rb
  spec/unit/provider/windows_env_spec.rb
  spec/unit/provider_resolver_spec.rb
  spec/unit/resource/windows_env_spec.rb
Labels: Status: Ready for Merge

#6471 Fix to use cookbook name in local mode or chef-zero
  lib/chef/chef_fs/chef_fs_data_store.rb
  spec/integration/knife/chef_fs_data_store_spec.rb
Labels: Status: Ready for Merge

#6847 Adding Awesome Community Chefs from 2016 and 2017
  CHEF_MVPS.md
Labels: Expeditor: Skip All

#6876 Update cookbooks we use in kitchen tests
  kitchen-tests/cookbooks/base/metadata.rb
  kitchen-tests/cookbooks/base/recipes/default.rb
Labels: Expeditor: Skip All

#6882 Remove the outdated roadmap file
  ROADMAP.md
Labels: Expeditor: Skip All

#6880 Git ignore any node json generated during development
  .gitignore
Labels: Expeditor: Skip All

#6862 Kill any orphaned tests
  ci/verify-chef.sh
Labels: Expeditor: Exclude From Changelog

#6897 The end of our long travis unit testing nightmare
  spec/spec_helper.rb
  spec/unit/daemon_spec.rb
Labels: Expeditor: Skip All

#6909 Ensure we pull in ohai on the 13 branch
  VERSION
  omnibus_overrides.rb
Labels: Expeditor: Exclude From Changelog

#6514 Added Flag to distinguish between gateway and host key to fix issue #6210
  lib/chef/knife/ssh.rb
Labels: Status: Pending Contributor Response

#6917 bump omnibus deps
  Gemfile
  Gemfile.lock
  appveyor.yml
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Labels: Expeditor: Exclude From Changelog
