Repository chef/chef, pull requests merged in 2018-09, with the labels that each got.

#7606 Update inspec-core to 2.2.78
  Gemfile.lock
Labels: Expeditor: Bump Minor Version

#7612 Edits to RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7637 windows_ad_join resource - add newname property
  lib/chef/resource/windows_ad_join.rb
Labels: Area: Windows

#7564 windows_workgroup Resource for joining Windows Workgroups
  RELEASE_NOTES.md
  lib/chef/resource/windows_workgroup.rb
  lib/chef/resources.rb
  spec/unit/resource/windows_workgroup_spec.rb
Labels: Area: Windows

#7642 Add @tas50 as the opensuse lieutenant and maintainer for macos / windows
  MAINTAINERS.md
  MAINTAINERS.toml
Labels: Expeditor: Skip All

#7650 [Expeditor] Use new template variables in .expeditor/config.yml
  .expeditor/config.yml
Labels: Expeditor: Skip All

#7661 Add docs team as owners on readme / release notes
  .github/CODEOWNERS
Labels: Expeditor: Skip All

#7669 windows_feature: Fix exception message grammar
  lib/chef/resource/windows_feature_dism.rb
  lib/chef/resource/windows_feature_powershell.rb
Labels: Area: Windows

#7668 Add a tiny bit more yard
  lib/chef/resource/action_class.rb
  lib/chef/resource/mount.rb
Labels: Expeditor: Skip All

#7678 Add Chef 14.5.33 Release Notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7518 zypper_package: Add new global_options property
  .travis.yml
  kitchen-tests/kitchen.travis.yml
  lib/chef/provider/package/zypper.rb
  lib/chef/resource/zypper_package.rb
  spec/functional/assets/zypprepo/chef_rpm-1.10-1.aarch64.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.10-1.i686.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.10-1.ppc64.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.10-1.ppc64le.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.10-1.s390x.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.10-1.src.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.10-1.x86_64.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.2-1.aarch64.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.2-1.i686.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.2-1.ppc64.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.2-1.ppc64le.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.2-1.s390x.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.2-1.src.rpm
  spec/functional/assets/zypprepo/chef_rpm-1.2-1.x86_64.rpm
  spec/functional/resource/zypper_package_spec.rb
  spec/spec_helper.rb
  spec/unit/provider/package/zypper_spec.rb
Labels: Expeditor: Bump Minor Version

#7686 Improve the error message when knife bootstrap windows isn't installed
  lib/chef/knife/bootstrap.rb
Labels: Expeditor: Bump Minor Version

#7693 Add Chef 13.11 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All
