Repository chef/chef, pull requests merged in 2018-03, with the labels that each got.

#6918 One last Chef 12 dependency bump
  Gemfile.lock
  omnibus/Gemfile.lock
  spec/spec_helper.rb
  spec/unit/daemon_spec.rb
Labels: Expeditor: Exclude From Changelog

#6939 Update our tests based on new resources we ship
  kitchen-tests/cookbooks/base/metadata.rb
  kitchen-tests/cookbooks/base/recipes/default.rb
Labels: Expeditor: Skip Build

#6937 Add Ubuntu 18.04 Testing in Travis
  .travis.yml
  kitchen-tests/.kitchen.travis.yml
Labels: Expeditor: Skip Build

#6961 Switch to a smaller gem to install in kitchen runs
  kitchen-tests/cookbooks/base/recipes/packages.rb
Labels: Expeditor: Skip All

#6941 New interop between Chef and PowerShell 4.0 (or higher)
  .gitattributes
  RELEASE_NOTES.md
  appveyor.yml
  appveyor_registry.reg
  distro/powershell/chef/Chef.PowerShell.dll
  distro/powershell/chef/Newtonsoft.Json.dll
  lib/chef/dsl/universal.rb
  lib/chef/mixin/powershell_exec.rb
  lib/chef/powershell.rb
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/resources/chef/msi/source.wxs.erb
  spec/unit/mixin/powershell_exec_spec.rb
Labels: Chef14, Status: Ready for Merge

#6971 Fix some yard warnings
  lib/chef/api_client.rb
  lib/chef/chef_fs/data_handler/policy_data_handler.rb
  lib/chef/chef_fs/data_handler/policy_group_data_handler.rb
  lib/chef/cookbook/chefignore.rb
  lib/chef/data_collector/messages/helpers.rb
  lib/chef/provider/apt_repository.rb
  lib/chef/provider/zypper_repository.rb
  lib/chef/resource/resource_notification.rb
  lib/chef/run_context.rb
Labels: Expeditor: Skip All

#6973 Remove duplicate files from acceptance / chef-config
  .gitignore
  acceptance/.gitignore
  chef-config/.gitignore
  chef-config/README.md
  chef-config/chef-config.gemspec
Labels: Expeditor: Skip All

#6968 powershell_exec mixin - adding docs and examples
  RELEASE_NOTES.md
  lib/chef/mixin/powershell_exec.rb
Labels: Expeditor: Skip All

#7008 lock chef-13 to chef-zero 13
  .travis.yml
  Gemfile.lock
  chef.gemspec
Labels: Expeditor: Exclude From Changelog

#7013 Remove Bundle Audit
  .travis.yml
  Gemfile
  Gemfile.lock
Labels: Expeditor: Exclude From Changelog

#7024 Fix the openssl resource spec names
  spec/unit/resource/openssl_rsa_private_key_spec.rb
  spec/unit/resource/openssl_rsa_public_key_spec.rb
Labels: Expeditor: Skip All

#7056 Add missing Chef 13.8 release to the notes
  CHANGELOG.md
Labels: Expeditor: Skip All

#7077 [Release Notes] s/systctl/sysctl
  RELEASE_NOTES.md
Labels: Expeditor: Skip All
