Repository chef/chef, pull requests merged in 2018-11, with the labels that each got.

#7845 Automatically rebuild RPM database on EL6 testers
  ci/verify-chef.sh
Labels: Expeditor: Skip All

#7846 Add some additonal RPM db cleanup steps missed in #7845
  ci/verify-chef.sh
Labels: Expeditor: Exclude From Changelog

#7850 Backport: Avoid rhel 6 DB corruption in jenkins RHEL 6 boxes
  ci/verify-chef.sh
Labels: Expeditor: Skip All

#7873 Backport: Add default_descriptions to properties
  lib/chef/resource/apt_update.rb
  lib/chef/resource/build_essential.rb
  lib/chef/resource/cab_package.rb
  lib/chef/resource/chef_gem.rb
  lib/chef/resource/cookbook_file.rb
  lib/chef/resource/cron_d.rb
  lib/chef/resource/dmg_package.rb
  lib/chef/resource/execute.rb
  lib/chef/resource/file.rb
  lib/chef/resource/hostname.rb
  lib/chef/resource/locale.rb
  lib/chef/resource/mdadm.rb
  lib/chef/resource/mount.rb
  lib/chef/resource/powershell_package.rb
  lib/chef/resource/remote_directory.rb
  lib/chef/resource/sudo.rb
  lib/chef/resource/swap_file.rb
  lib/chef/resource/sysctl.rb
  lib/chef/resource/systemd_unit.rb
  lib/chef/resource/windows_ad_join.rb
  lib/chef/resource/windows_printer.rb
  lib/chef/resource/windows_printer_port.rb
  lib/chef/resource/windows_workgroup.rb
  lib/chef/resource/zypper_repository.rb
Labels: Expeditor: Skip Build

#7874 Backport: Make knife command banners consistent
  lib/chef/knife/config_list_profiles.rb
  lib/chef/knife/list.rb
  lib/chef/knife/raw.rb
  lib/chef/knife/role_env_run_list_clear.rb
  lib/chef/knife/role_env_run_list_remove.rb
  lib/chef/knife/role_env_run_list_replace.rb
  lib/chef/knife/role_env_run_list_set.rb
  lib/chef/knife/role_run_list_clear.rb
  lib/chef/knife/role_run_list_remove.rb
  lib/chef/knife/role_run_list_replace.rb
  lib/chef/knife/role_run_list_set.rb
  lib/chef/knife/show.rb
  lib/chef/knife/upload.rb
  lib/chef/knife/xargs.rb
Labels: Expeditor: Skip Build

#7880 resource inspector: don't convert nil to "nil" in default values
  lib/chef/resource_inspector.rb
Labels: Expeditor: Skip Build

#7858 Document our breaking changes in Chef 15
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7884 Update more descriptions and tweak default handling in chef-resource-inspector
  lib/chef/resource/mdadm.rb
  lib/chef/resource/openssl_dhparam.rb
  lib/chef/resource/openssl_ec_private_key.rb
  lib/chef/resource/openssl_ec_public_key.rb
  lib/chef/resource/openssl_rsa_private_key.rb
  lib/chef/resource/openssl_rsa_public_key.rb
  lib/chef/resource/openssl_x509_certificate.rb
  lib/chef/resource/openssl_x509_crl.rb
  lib/chef/resource/openssl_x509_request.rb
  lib/chef/resource/package.rb
  lib/chef/resource/rhsm_errata.rb
  lib/chef/resource/rhsm_errata_level.rb
  lib/chef/resource/rhsm_register.rb
  lib/chef/resource/rhsm_repo.rb
  lib/chef/resource/rhsm_subscription.rb
  lib/chef/resource/windows_feature.rb
  lib/chef/resource/windows_feature_dism.rb
  lib/chef/resource/windows_feature_powershell.rb
  lib/chef/resource/windows_printer.rb
  lib/chef/resource/windows_printer_port.rb
  lib/chef/resource/yum_repository.rb
  lib/chef/resource/zypper_package.rb
  lib/chef/resource_inspector.rb
Labels: Expeditor: Skip Build

#7887 Backport: Resource property description updates
  RELEASE_NOTES.md
  lib/chef/resource/mdadm.rb
  lib/chef/resource/openssl_dhparam.rb
  lib/chef/resource/openssl_ec_private_key.rb
  lib/chef/resource/openssl_ec_public_key.rb
  lib/chef/resource/openssl_rsa_private_key.rb
  lib/chef/resource/openssl_rsa_public_key.rb
  lib/chef/resource/openssl_x509_certificate.rb
  lib/chef/resource/openssl_x509_crl.rb
  lib/chef/resource/openssl_x509_request.rb
  lib/chef/resource/package.rb
  lib/chef/resource/rhsm_errata.rb
  lib/chef/resource/rhsm_errata_level.rb
  lib/chef/resource/rhsm_register.rb
  lib/chef/resource/rhsm_repo.rb
  lib/chef/resource/rhsm_subscription.rb
  lib/chef/resource/sudo.rb
  lib/chef/resource/sysctl.rb
  lib/chef/resource/systemd_unit.rb
  lib/chef/resource/windows_auto_run.rb
  lib/chef/resource/windows_env.rb
  lib/chef/resource/windows_feature.rb
  lib/chef/resource/windows_feature_dism.rb
  lib/chef/resource/windows_feature_powershell.rb
  lib/chef/resource/windows_path.rb
  lib/chef/resource/windows_printer.rb
  lib/chef/resource/windows_printer_port.rb
  lib/chef/resource/windows_share.rb
  lib/chef/resource/yum_repository.rb
  lib/chef/resource/zypper_package.rb
  lib/chef/resource_inspector.rb
Labels: Expeditor: Skip Build

#7888 Backport: Allow multiple local and remote ports in the windows_firewall_rule resource
  lib/chef/resource/windows_firewall_rule.rb
  spec/unit/resource/windows_firewall_rule_spec.rb
Labels: Expeditor: Skip Build

#7894 Add Chef 14.7 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7896 Fix the knife integration spec timeouts
  spec/integration/knife/raw_spec.rb
  spec/integration/knife/redirection_spec.rb
  spec/support/shared/integration/app_server_support.rb
Labels: Expeditor: Skip Build

#7899 Chef 14 Backport: fix the knife integration spec timeouts
  spec/integration/knife/raw_spec.rb
  spec/integration/knife/redirection_spec.rb
  spec/support/shared/integration/app_server_support.rb
Labels: Expeditor: Skip Build

#7903 Make sure we define windows_task resource on *nix systems
  lib/chef/resource/windows_task.rb
Labels: Expeditor: Skip Build

#7895 windows_ad_join: Switch to UPN format usernames for use with AD cmdlets
  lib/chef/resource/windows_ad_join.rb
Labels: Area: Windows

#7908 Add release notes for missing 14,13,12 versions
  RELEASE_NOTES.md
Labels: Expeditor: Exclude From Changelog

#7926 Add a link to our code of conduct page
  CODE_OF_CONDUCT.md
Labels: Expeditor: Skip All

#7925 Make sure to open PRs against the chef-14 branch
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#7928 Don't set chef_gem_compile_time config in the chef_gem spec
  spec/unit/resource/chef_gem_spec.rb
Labels: Expeditor: Skip All

#7944 Make sure we open PRs from chef-14 and into chef-14
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#7959 windows_share: Accounts to be revoked should be provided as an individually quoted string array
  lib/chef/resource/windows_share.rb
Labels: Area: Windows

#7962 Edits to Release Notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7971 Chef 14: apt_repository: prevent gpg key import on newer Debian releases
  lib/chef/provider/apt_repository.rb
  spec/unit/provider/apt_repository_spec.rb
Labels: Expeditor: Bump Minor Version

#7961 windows_share: Avoid ConvertTo-Json errors on Windows 2012r2 with powershell 4
  lib/chef/resource/windows_share.rb
Labels: Area: Windows

#7806 Added windows support for the timezone resource
  lib/chef/resource/timezone.rb
  spec/functional/resource/timezone_spec.rb
Labels: Area: Windows, Status: Pending Contributor Response

#7975 add a RELEASE_NOTE on /opt/chef wiping
  RELEASE_NOTES.md
Labels: Expeditor: Skip All, Type: Documentation

#7996 Add initial Chef 14.8 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7965 Add new items from the Ohai release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7998 better kithen ohai pinning
  kitchen-tests/kitchen.travis.yml
Labels: Expeditor: Skip Build
