Repository chef/chef, pull requests merged in 2018-10, with the labels that each got.

#7719 better docs for Chef::Knife::Bootstrap#validate_options!
  lib/chef/knife/bootstrap.rb
Labels: Expeditor: Skip Build

#7730 Configure Appveyor to skip some commits
  appveyor.yml
Labels: Expeditor: Skip All

#7741 Tune appveyor skip to only version bumps
  appveyor.yml
Labels: Expeditor: Skip All

#7775 Test on Ruby 2.4.5 in Travis not 2.4.4
  .travis.yml
Labels: Expeditor: Skip All

#7781 Add release notes for Chef 14.6
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7489 Remove the deprecated knife bootstrap --identity-file flag
  chef-config/lib/chef-config/config.rb
  lib/chef/knife/bootstrap.rb
Labels: Chef15

#7821 Pull ohai from the 14-stable branch in kitchen tests
  kitchen-tests/Gemfile
Labels: Expeditor: Skip All

#7825 Setup expeditor for chef-14 branch
  .expeditor/config.yml
Labels: Expeditor: Skip All

#7811 Automated resource documentation improvements
  lib/chef/property.rb
  lib/chef/resource.rb
  lib/chef/resource/apt_repository.rb
  lib/chef/resource/dmg_package.rb
  lib/chef/resource/group.rb
  lib/chef/resource/homebrew_cask.rb
  lib/chef/resource/homebrew_tap.rb
  lib/chef/resource/hostname.rb
  lib/chef/resource/macos_userdefaults.rb
  lib/chef/resource/openssl_ec_public_key.rb
  lib/chef/resource/openssl_rsa_public_key.rb
  lib/chef/resource_inspector.rb
Labels: Expeditor: Bump Minor Version

#7829 Backport: Break out appveyor tests
  appveyor.yml
Labels: Expeditor: Skip All

#7838 Break out appveyor
  appveyor.yml
Labels: Expeditor: Skip All
