Repository chef/chef, pull requests merged in 2018-06, with the labels that each got.

#7014 Quote git remote_url property (PR 6249 + chefstyle fix)
  lib/chef/provider/git.rb
  spec/unit/provider/git_spec.rb
Labels: Status: Pending Contributor Response

#7334 bump version to 14.2.0 for RC
  VERSION
Labels: Expeditor: Exclude From Changelog

#7336 Add release notes for Chef 14.2
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7338 pin kitchen tests to chef-13 on chef-13 branch
  kitchen-tests/.kitchen.travis.yml
  kitchen-tests/.kitchen.yml
Labels: Expeditor: Skip All

#7342 Minor updates to the contributing doc.
  CONTRIBUTING.md
Labels: Expeditor: Skip All

#7340 Add 13.9.X release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7345 Update help link in Add/Remove Programs on Windows
  omnibus/resources/chef/msi/source.wxs.erb
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#7377 Remove awesome customers testing and update kitchen configs
  .travis.yml
  acceptance/data-collector/.acceptance/data-collector-test/.gitignore
  kitchen-tests/Berksfile
  kitchen-tests/Gemfile
  kitchen-tests/README.md
  kitchen-tests/cookbooks/awesome_customers_rhel_wrapper/metadata.rb
  kitchen-tests/cookbooks/awesome_customers_rhel_wrapper/recipes/default.rb
  kitchen-tests/cookbooks/awesome_customers_ubuntu_wrapper/metadata.rb
  kitchen-tests/cookbooks/awesome_customers_ubuntu_wrapper/recipes/default.rb
  kitchen-tests/data_bags/passwords/mysql.json
  kitchen-tests/kitchen.travis.yml
  kitchen-tests/kitchen.yml
  omnibus/.gitignore
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/README.md
  omnibus/kitchen.vmware.yml
  omnibus/kitchen.yml
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#7378 Remove the unused audit test cookbook
  kitchen-tests/cookbooks/audit_test/.kitchen.yml
  kitchen-tests/cookbooks/audit_test/Berksfile
  kitchen-tests/cookbooks/audit_test/Berksfile.lock
  kitchen-tests/cookbooks/audit_test/README.md
  kitchen-tests/cookbooks/audit_test/metadata.rb
  kitchen-tests/cookbooks/audit_test/recipes/default.rb
  kitchen-tests/cookbooks/audit_test/recipes/error_duplicate_control_groups.rb
  kitchen-tests/cookbooks/audit_test/recipes/error_no_block.rb
  kitchen-tests/cookbooks/audit_test/recipes/error_orphan_control.rb
  kitchen-tests/cookbooks/audit_test/recipes/failed_specs.rb
  kitchen-tests/cookbooks/audit_test/recipes/serverspec_collision.rb
  kitchen-tests/cookbooks/audit_test/recipes/serverspec_support.rb
  kitchen-tests/cookbooks/audit_test/recipes/with_include_recipe.rb
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#7393 remove some ruby 1.8.7-isms
  lib/chef/mixin/wide_string.rb
Labels: Expeditor: Skip All

#7396 Adding Awesome Community Chefs for 2018
  CHEF_MVPS.md
Labels: Expeditor: Skip All

#7397 Add missing knife license headers
  lib/chef/knife/cookbook_metadata.rb
  lib/chef/knife/cookbook_metadata_from_file.rb
  lib/chef/knife/cookbook_site_download.rb
  lib/chef/knife/cookbook_site_search.rb
  lib/chef/knife/cookbook_site_share.rb
  lib/chef/knife/cookbook_site_show.rb
  lib/chef/knife/cookbook_test.rb
  lib/chef/knife/delete.rb
  lib/chef/knife/deps.rb
  lib/chef/knife/diff.rb
  lib/chef/knife/download.rb
  lib/chef/knife/edit.rb
  lib/chef/knife/list.rb
  lib/chef/knife/raw.rb
  lib/chef/knife/role_env_run_list_add.rb
  lib/chef/knife/role_env_run_list_replace.rb
  lib/chef/knife/role_run_list_add.rb
  lib/chef/knife/role_run_list_replace.rb
  lib/chef/knife/serve.rb
  lib/chef/knife/show.rb
  lib/chef/knife/upload.rb
  lib/chef/knife/xargs.rb
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#7395 add spec to force really remove cookbook merging
  spec/unit/cookbook_loader_spec.rb
Labels: Expeditor: Skip All

#7380 Switch powershell_exec mixin to use FFI instead of COM
  Gemfile
  appveyor.yml
  appveyor_registry.reg
  distro/powershell/chef/Chef.PowerShell.dll
  distro/ruby_bin_folder/Chef.PowerShell.Wrapper.dll
  distro/ruby_bin_folder/Chef.PowerShell.dll
  distro/ruby_bin_folder/Newtonsoft.Json.dll
  lib/chef/powershell.rb
  lib/chef/win32/unicode.rb
  omnibus/kitchen.yml
  omnibus/resources/chef/msi/source.wxs.erb
  spec/unit/mixin/powershell_exec_spec.rb
Labels: Area: Windows

#7385 Rename the kitchen base test suite to end-to-end
  .travis.yml
  kitchen-tests/Berksfile
  kitchen-tests/README.md
  kitchen-tests/cookbooks/end_to_end/Berksfile
  kitchen-tests/cookbooks/end_to_end/README.md
  kitchen-tests/cookbooks/end_to_end/attributes/default.rb
  kitchen-tests/cookbooks/end_to_end/libraries/chef-sugar.rb
  kitchen-tests/cookbooks/end_to_end/metadata.rb
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  kitchen-tests/cookbooks/end_to_end/recipes/packages.rb
  kitchen-tests/cookbooks/end_to_end/recipes/tests.rb
  kitchen-tests/kitchen.travis.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#7406 Suppress data_collector.json spec turd file
  spec/unit/data_collector_spec.rb
Labels: Expeditor: Skip All
