Repository chef/chef, pull requests merged in 2018-05, with the labels that each got.

#7211 Revert "Run all tests in CI"
  ci/verify-chef.sh
Labels: Expeditor: Exclude From Changelog, Expeditor: Skip Version Bump

#7112 Windows MSI: files are now re-unzipped during repair mode (Backport to Chef 13)
  omnibus/resources/chef/msi/source.wxs.erb
Labels: Area: Windows

#7214 Ensure we don't run tests on unsupported platforms
  spec/integration/client/client_spec.rb
  spec/integration/client/ipv6_spec.rb
  spec/integration/solo/solo_spec.rb
  spec/spec_helper.rb
  spec/unit/provider/mount/mount_spec.rb
Labels: Expeditor: Skip All

#7221 Enable Expeditor PR branch deletion feature
  .expeditor/config.yml
Labels: Expeditor: Skip All

#7222 Fix two new Chefstyle warnings with Rubocop 0.55
  spec/functional/resource/group_spec.rb
  spec/unit/provider/powershell_script_spec.rb
Labels: Expeditor: Skip All

#7217 Add release notes for 14.1
  Gemfile.lock
  RELEASE_NOTES.md
  VERSION
Labels: Expeditor: Exclude From Changelog

#7229 Update release notes with new supported platforms
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7228 Update release notes with new supported platforms
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#6111 Update Habitat plan to correctly build
  .rubocop.yml
  habitat/config/client.rb
  habitat/default.toml
  habitat/hooks/init
  habitat/hooks/run
  habitat/plan.sh
Labels: Type: Enhancement

#7268 add release notes for 14.1.12
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7266 Add additional unit tests for resource actions/properties
  spec/unit/resource/windows_ad_join.rb
  spec/unit/resource/windows_auto_run_spec.rb
  spec/unit/resource/windows_env_spec.rb
  spec/unit/resource/windows_feature.rb
  spec/unit/resource/windows_feature_dism.rb
  spec/unit/resource/windows_feature_powershell.rb
  spec/unit/resource/windows_font_spec.rb
  spec/unit/resource/windows_pagefile_spec.rb
  spec/unit/resource/windows_path_spec.rb
  spec/unit/resource/windows_printer_port_spec.rb
  spec/unit/resource/windows_printer_spec.rb
  spec/unit/resource/yum_repository_spec.rb
  spec/unit/resource/zypper_repository_spec.rb
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#7279 Backport Ubuntu 1804 fixes
  lib/chef/provider/ifconfig/debian.rb
  spec/functional/resource/ifconfig_spec.rb
  spec/functional/resource/package_spec.rb
Labels: Expeditor: Exclude From Changelog
