Repository chef/chef, pull requests merged in 2018-12, with the labels that each got.

#8013 Cleanup some functional helpers
  spec/functional/resource/group_spec.rb
  spec/functional/resource/user/dscl_spec.rb
  spec/spec_helper.rb
  spec/support/platform_helpers.rb
Labels: Expeditor: Skip All

#8031 Chef 15: Windows Server 2019 version detection
  lib/chef/win32/version.rb
Labels: Area: Windows

#8050 Backport: Bugfixes to powershell_package_source
  .travis.yml
  lib/chef/resource/powershell_package_source.rb
  spec/unit/resource/powershell_package_source_spec.rb
Labels: Area: Windows

#8059 Adding VC Redistributable files required for powershell_exec on Windows
  distro/ruby_bin_folder/msvcp140.dll
  distro/ruby_bin_folder/vcruntime140.dll
Labels: Area: Windows

#8060 Backport: Adding VC Redistributable files required for powershell_exec on Windows
  distro/ruby_bin_folder/msvcp140.dll
  distro/ruby_bin_folder/vcruntime140.dll
Labels: Area: Windows, Chef14

#8066 Add 14.7 and 14.8 release notes and changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8071 chef 14: windows_certificate: Fix invalid byte sequence errors with pfx certicates
  lib/chef/resource/windows_certificate.rb
  spec/unit/resource/windows_certificate.rb
Labels: Expeditor: Bump Minor Version

#8070 Remove the travis apt proxy for the Ruby 2.4 functional tests
  .travis.yml
Labels: Expeditor: Skip All
