Repository chef/chef, pull requests merged in 2018-08, with the labels that each got.

#7516 Adding cheeseplus as maintainer
  MAINTAINERS.md
  MAINTAINERS.toml
Labels: Expeditor: Skip All

#7531 Automatically open PRs on dep gem updates
  .expeditor/config.yml
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#7533 Fix expeditor to fire the right script on gem releases
  .expeditor/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Expeditor: Skip All

#7535 Fix bundle update syntax in update_dep.sh
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#7253 Add cron_d and cron_access resources
  kitchen-tests/cookbooks/end_to_end/metadata.rb
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  kitchen-tests/kitchen.travis.yml
  lib/chef/resource/cron_access.rb
  lib/chef/resource/cron_d.rb
  lib/chef/resource/support/cron.d.erb
  lib/chef/resource/support/cron_access.erb
  lib/chef/resources.rb
  spec/unit/resource/cron_access_spec.rb
  spec/unit/resource/cron_d_spec.rb
Labels: Type: Enhancement

#7545 Start work on the 14.4 release notes
  RELEASE_NOTES.md
  lib/chef/resource/cron_access.rb
Labels: Expeditor: Skip All

#7483 Support for battery power options in windows_task resource
  lib/chef/provider/windows_task.rb
  lib/chef/resource/windows_task.rb
  spec/functional/resource/windows_task_spec.rb
  spec/unit/resource/windows_task_spec.rb
Labels: Status: Pending Contributor Response

#7569 Fix how dep bumping works
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#7571 DCO sign off the version bump
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#7582 Add a 120 second sleep to the dependency bumping
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#7580 Simplify / fix our yard doc Rake task
  Rakefile
  lib/chef/http.rb
  spec/tiny_server.rb
Labels: Expeditor: Skip Build

#7585 Update some build / updating instructions for development
  README.md
  Rakefile
  omnibus_overrides.rb
Labels: Expeditor: Skip All

#7592 Finalize the 14.4 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7593 Updating omnibus kitchen builder to work on Windows 10/Hyper-V
  omnibus/README.md
  omnibus/kitchen.hyperv.yml
  omnibus/kitchen.yml
Labels: Expeditor: Skip All

#7594 Update release announcement templates
  tasks/templates/prerelease.md.erb
  tasks/templates/release.md.erb
Labels: Expeditor: Skip All

#7602 Simplify the rake task to updating gem dependencies
  .expeditor/update_dep.sh
  ci/dependency_update.sh
  tasks/dependencies.rb
Labels: Expeditor: Skip Build
