Repository chef/chef, pull requests merged in 2018-07, with the labels that each got.

#7418 Temporary disable of Amazon Linux 2 from Travis CI
  .travis.yml
Labels: Expeditor: Skip All

#7420 Quiet down bundle install/bundle exec messages on Windows [skip ci]
  Gemfile
Labels: Expeditor: Skip All

#7432 Pull in latest win32-service gem
  Gemfile.lock
  chef-universal-mingw32.gemspec
  omnibus/Gemfile.lock
Labels: Version: Bump Minor

#7430 chef-13: Temporarily disable testing on Amazon Linux 2 in Travis
  .travis.yml
Labels: Expeditor: Skip All

#7442 Enable Amazon Linux 2.0 tests again
  .travis.yml
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#7441 Add release notes for 14.3
  RELEASE_NOTES.md
  lib/chef/resource/ssh_known_hosts_entry.rb
Labels: Expeditor: Skip All

#7451 Update Expeditor to cleanup merged PRs
  .expeditor/config.yml
Labels: Expeditor: Skip All

#7453 Add CVE we fixed to the 14.2 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#7452 Add proper yard deprecated tags on methods
  chef-config/lib/chef-config/path_helper.rb
  lib/chef/http/http_request.rb
Labels: Expeditor: Skip Build, Expeditor: Skip Version Bump

#7443 Expeditor: Remove labels that don't exist / chef 12 config
  .expeditor/config.yml
Labels: Expeditor: Skip All

#7479 Remove the platform check from RPM compression in Omnibus
  omnibus/config/projects/chef.rb
Labels: Expeditor: Exclude From Changelog

#7462 Remove mcquin as a maintainer
  MAINTAINERS.md
  MAINTAINERS.toml
Labels: Expeditor: Skip All

#7484 Update wording in resource specs for attributes -> properties
  lib/chef/provider/ifconfig/aix.rb
  spec/unit/provider/cron_spec.rb
  spec/unit/provider/execute_spec.rb
  spec/unit/provider/file/content_spec.rb
  spec/unit/provider/group/groupadd_spec.rb
  spec/unit/provider/group_spec.rb
  spec/unit/provider/ifconfig/aix_spec.rb
  spec/unit/provider/package/freebsd/pkg_spec.rb
  spec/unit/provider/package/windows/exe_spec.rb
  spec/unit/provider/remote_file/cache_control_data_spec.rb
  spec/unit/provider/route_spec.rb
  spec/unit/provider/service/aixinit_service_spec.rb
  spec/unit/provider/service/arch_service_spec.rb
  spec/unit/provider/service/freebsd_service_spec.rb
  spec/unit/provider/service/init_service_spec.rb
  spec/unit/provider/service/invokercd_service_spec.rb
  spec/unit/provider/service/simple_service_spec.rb
  spec/unit/provider/service/windows_spec.rb
  spec/unit/provider/subversion_spec.rb
  spec/unit/provider/user/pw_spec.rb
  spec/unit/provider/user/windows_spec.rb
  spec/unit/provider/user_spec.rb
  spec/unit/resource/file_spec.rb
  spec/unit/resource/mdadm_spec.rb
  spec/unit/resource/osx_profile_spec.rb
  spec/unit/resource/powershell_script_spec.rb
  spec/unit/resource/scm_spec.rb
  spec/unit/resource/subversion_spec.rb
  spec/unit/resource/template_spec.rb
  spec/unit/resource/windows_package_spec.rb
  spec/unit/resource/windows_service_spec.rb
  spec/unit/resource/yum_package_spec.rb
  spec/unit/resource_reporter_spec.rb
Labels: Expeditor: Exclude From Changelog

#7485 Swap chef-12 for chef-14 branches in CI
  .travis.yml
  appveyor.yml
Labels: Expeditor: Skip All

#7488 Misc cleanup to our functional tests
  spec/functional/resource/dnf_package_spec.rb
  spec/functional/resource/group_spec.rb
  spec/functional/resource/rpm_spec.rb
  spec/functional/resource/user/dscl_spec.rb
  spec/functional/resource/yum_package_spec.rb
  spec/spec_helper.rb
Labels: Expeditor: Exclude From Changelog

#7493 Fix Expeditor action set ordering
  .expeditor/config.yml
Labels: Expeditor: Skip All

#7499 Fix comment typo
  chef-config/lib/chef-config/path_helper.rb
Labels: Expeditor: Skip All

#7341 Check local file exists before installing a windows package
  lib/chef/provider/package/windows.rb
  spec/unit/provider/package/windows_spec.rb
Labels: Status: Pending Contributor Response

#7504 Bump dependencies to fix failing functional test for windows_task
  Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#7416 Assume credentials supplied are still valid if they cannot be validated due to a Windows account restriction
  lib/chef/util/windows/net_user.rb
  spec/functional/resource/user/windows_spec.rb
  spec/unit/win32/error_spec.rb
Labels: Area: Windows, Status: Ready for Merge

#7508 Adding @stuartpreston as a Chef maintainer [ci skip]
  MAINTAINERS.md
  MAINTAINERS.toml
Labels: Expeditor: Skip All
