Repository chef/chef, pull requests merged in 2019-11, with the labels that each got.

#8925 Fix multiple chefignore file issues
  lib/chef/chef_fs/file_system/chef_server/cookbook_artifacts_dir.rb
  lib/chef/chef_fs/file_system/chef_server/versioned_cookbooks_dir.rb
  lib/chef/chef_fs/file_system/repository/chef_repository_file_system_cookbook_artifact_dir.rb
  lib/chef/chef_fs/file_system/repository/chef_repository_file_system_cookbook_dir.rb
  lib/chef/chef_fs/file_system/repository/chef_repository_file_system_cookbook_entry.rb
  lib/chef/chef_fs/file_system/repository/chef_repository_file_system_versioned_cookbook_dir.rb
  lib/chef/cookbook/chefignore.rb
  lib/chef/cookbook/cookbook_version_loader.rb
  lib/chef/cookbook/syntax_check.rb
  lib/chef/cookbook_loader.rb
  lib/chef/cookbook_uploader.rb
  spec/data/cookbooks/starter/chefignore
  spec/data/cookbooks/starter/files/sample.txt
  spec/data/cookbooks/starter/metadata.rb
  spec/data/cookbooks/starter/recipes/default.rb
  spec/unit/cookbook/chefignore_spec.rb
  spec/unit/cookbook_loader_spec.rb
  spec/unit/cookbook_uploader_spec.rb
Labels: Aspect: Performance, Aspect: UX, Focus: Config

#8900 a Windows Habitat plan
  .bldr.toml
  .expeditor/config.yml
  .expeditor/habitat-test.pipeline.yml
  .expeditor/verify.habitat.pipeline.yml
  habitat/plan.ps1
  habitat/tests/spec.ps1
  habitat/tests/test.pester.ps1
  habitat/tests/test.ps1
  omnibus/omnibus-test.ps1
  scripts/ci/verify-plan.ps1
  spec/functional/version_spec.rb
Labels: Aspect: Packaging, Focus: Windows

#9044 [ci] include the platform target in the hab package promotion command
  .expeditor/habitat-test.pipeline.yml
Labels: Aspect: Packaging, Expeditor: Skip Changelog, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump, Focus: Windows, Platform: Windows

#9047 service/systemd_unit: Don't try to reenable services in an indirect status
  lib/chef/provider/service/systemd.rb
  lib/chef/provider/systemd_unit.rb
  lib/chef/resource/service.rb
  lib/chef/resource/systemd_unit.rb
  spec/unit/provider/service/systemd_service_spec.rb
  spec/unit/provider/systemd_unit_spec.rb
Labels: Platform: Linux, Status: Waiting on Contributor, Type: Bug

#9069 Add 14.14.29 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9082 missed adding chef-utils to hab plan here
  habitat/plan.sh
Labels: Expeditor: Skip Changelog

#9074 🚧 WIP: remove Oracle 8 from TK tests run in CI
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Aspect: Testing, Type: Chore

#9088 Remove the use of Chef Sugar from the Kitchen tests
  kitchen-tests/cookbooks/end_to_end/attributes/default.rb
  kitchen-tests/cookbooks/end_to_end/libraries/chef-sugar.rb
Labels: Expeditor: Bump Version Minor

#9097 Improve resource descriptions and the rake task for docs generation
  lib/chef/resource/breakpoint.rb
  lib/chef/resource/build_essential.rb
  lib/chef/resource/sudo.rb
  lib/chef/resource/windows_env.rb
  lib/chef/resource/windows_feature.rb
  lib/chef/resource/windows_feature_powershell.rb
  tasks/docs.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#7239 Convert reboot resource to a custom resource with descriptions
  lib/chef/provider/reboot.rb
  lib/chef/providers.rb
  lib/chef/resource/reboot.rb
Labels: Type: Tech Debt

#9110 Remove bonus `.md` to fix link
  docs/dev/README.md
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9113 Add 15.5.15 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9121 fix selinux specs for workstation
  spec/unit/util/selinux_spec.rb
Labels: Expeditor: Skip Changelog

#9122 Spelling, punctuation, grammar
  docs/dev/design_documents/how_chef_is_tested_and_built.md
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus
