Repository chef/chef, pull requests merged in 2019-12, with the labels that each got.

#9130 Update ruby_prof to 1.0
  Gemfile
  Gemfile.lock
Labels: Expeditor: Bump Version Minor

#9039 Add output for the file provider verification
  lib/chef/guard_interpreter/default_guard_interpreter.rb
  lib/chef/provider/file.rb
  lib/chef/resource/file/verification.rb
  spec/spec_helper.rb
  spec/support/shared/unit/provider/file.rb
Labels: Priority: Medium, Status: Sustaining Backlog, Type: Enhancement

#9151 Add Chef Infra Client 15.6 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9158 Fix mac_user breakage and logging
  lib/chef/provider/user/mac.rb
  omnibus/omnibus-test.sh
Labels: Platform: macOS, Type: Bug

#9160 omnibus tests need to accept the license
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip Changelog

#9164 run functional tests before units
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip Changelog

#9165 revert back to only functional testing
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip Changelog

#9192 Update all omnibus deps to the latest
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor
