Repository chef/chef, pull requests merged in 2019-04, with the labels that each got.

#8331 Move to using the v2 Habitat Build functionality
  .bldr.toml
  .expeditor/build.habitat.yml
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8327 Remove windows-api pin and update InSpec to 3.9.0
  Gemfile.lock
  chef-universal-mingw32.gemspec
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#8343 Create omnibus buildkite pipelines
  .expeditor/config.yml
  .expeditor/release.omnibus.yml
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#8349 Add Ruby 2.6 testing Appveyor
  appveyor.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8353 Stop printing environment in ci/verify.bat
  ci/verify-chef.bat
Labels: Expeditor: Skip All

#8364 Backport two test fixes/changes to chef-14
  spec/functional/resource/dsc_script_spec.rb
  spec/functional/resource/group_spec.rb
Labels: Aspect: Testing, Type: Bug

#8367 Add more verification tests
  .expeditor/verify.pipeline.yml
  kitchen-tests/Gemfile
  kitchen-tests/kitchen.bk.yml
  scripts/bk_tests/bk_install.sh
Labels: Expeditor: Skip All

#8028 Add a new archive_file resource from the libarchive cookbook
  Gemfile.lock
  chef.gemspec
  kitchen-tests/cookbooks/end_to_end/files/tourism.tar.gz
  kitchen-tests/cookbooks/end_to_end/files/tourism.tar.xz
  kitchen-tests/cookbooks/end_to_end/files/tourism.zip
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  lib/chef/resource/archive_file.rb
  lib/chef/resources.rb
  spec/unit/resource/archive_file_spec.rb
Labels: Type: Enhancement

#8077 Allow encrypting a previously unencrypted data bag
  lib/chef/knife/data_bag_edit.rb
  spec/integration/knife/data_bag_create_spec.rb
  spec/integration/knife/data_bag_edit_spec.rb
  spec/integration/knife/data_bag_show_spec.rb
  spec/unit/knife/data_bag_edit_spec.rb
Labels: Type: Bug

#8399 Use inspec from git in the kitchen CI tests
  kitchen-tests/Gemfile
Labels: Expeditor: Skip All

#8400 Fix default/override attribute blacklists and whitelists
  lib/chef/node.rb
  lib/chef/whitelist.rb
  spec/unit/node_spec.rb
Labels: Expeditor: Skip Omnibus

#8401 Improve the error message when no config can be loaded
  lib/chef/application.rb
  lib/chef/application/windows_service.rb
  spec/unit/application_spec.rb
  spec/unit/log/syslog_spec.rb
  spec/unit/log/winevt_spec.rb
Labels: Expeditor: Skip Omnibus

#8404 Add train from git
  Gemfile
  Gemfile.lock
Labels: Expeditor: Skip All

#8403 Replace kitchen-appbundle-updater in Travis tests with Test Kitchen lifecycle hooks
  kitchen-tests/Gemfile
  kitchen-tests/kitchen.travis.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8406 Merge the local and travis kitchen tests into a single config
  .travis.yml
  kitchen-tests/Gemfile
  kitchen-tests/README.md
  kitchen-tests/kitchen.travis.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8350 Implement new owner/review structure + expand dev docs
  .github/CODEOWNERS
  MAINTAINERS.md
  MAINTAINERS.toml
  README.md
  Rakefile
  appveyor.yml
  docs/dev/README.md
  docs/dev/data_collector.md
  docs/dev/design_documents/action_collection.md
  docs/dev/design_documents/client_exit_codes.md
  docs/dev/design_documents/client_release_cadence.md
  docs/dev/design_documents/cookbook_root_aliases.md
  docs/dev/design_documents/data_collector.md
  docs/dev/design_documents/deprecations_in_resources.md
  docs/dev/design_documents/event_handler_recipe_dsl.md
  docs/dev/design_documents/gem_installation_via_metadata.md
  docs/dev/design_documents/how_chef_is_tested_and_built.md
  docs/dev/design_documents/ohai_cookbook_segment.md
  docs/dev/design_documents/resource_before_notifications.md
  docs/dev/design_documents/resource_file_content_verification.md
  docs/dev/design_documents/resource_guard_interpreters.md
  docs/dev/design_documents/resource_load_and_converge_methods.md
  docs/dev/design_documents/resource_property_validation_messaging.md
  docs/dev/design_documents/self_documenting_resources.md
  docs/dev/design_documents/server_enforced_recipes.md
  docs/dev/how_to/branching_and_backporting.md
  docs/dev/how_to/building_and_installing.md
  docs/dev/how_to/bumping_minor_or_major_versions.md
  docs/dev/how_to/updating_dependencies.md
  docs/dev/policy/release_and_support_schedule.md
  tasks/maintainers.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8414 Fix readme OSS links and update slack channel for expeditor
  .expeditor/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: Expeditor: Skip All

#8427 missing gem publish.
  .expeditor/config.yml
Labels: Expeditor: Skip All, Expeditor: Skip Changelog, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#8443 bump omnibus-software
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Changelog
