Repository chef/chef, pull requests merged in 2019-07, with the labels that each got.

#8696 Add Chef 15.1 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8709 expeditor/buildkite: turn on debug level for builds
  .expeditor/config.yml
Labels: Expeditor: Skip Changelog

#8718 Improve generation of docs site resource pages
  tasks/docs.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8728 Remove rspec config for Travis
  spec/functional/resource/ifconfig_spec.rb
  spec/functional/resource/mount_spec.rb
  spec/spec_helper.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8741 Remove the unused rspec kitchen tests
  kitchen-tests/Berksfile
  kitchen-tests/cookbooks/rspec/metadata.rb
  kitchen-tests/cookbooks/rspec/recipes/default.rb
  kitchen-tests/cookbooks/rspec/templates/run-chef-rspec
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8755 only check for the embedded/bin/inspec file being there
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip Changelog

#8758 Cleanup the Travis config
  .travis.yml
Labels: Expeditor: Skip All

#8759 Add rspec testing on Fedora in Buildkite
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8761 Bump InSpec, Ohai, and appbundler to the latest
  Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor
