Repository chef/chef, pull requests merged in 2019-08, with the labels that each got.

#8790 [ci] Fix omnibus pipeline
  .expeditor/release.omnibus.yml
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#8791 [ci] Fix omnibus pipeline
  .expeditor/release.omnibus.yml
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#8789 Cleanup of habitat/plan.sh for chef-infra-client
  .bldr.toml
  .gitignore
  habitat/chef-infra-client/plan.sh
  habitat/config/client.rb
  habitat/default.toml
  habitat/hooks/init
  habitat/hooks/run
  habitat/plan.sh
Labels: Aspect: Packaging, Type: Chore

#8801 Add retries to the GitHub PRs in Buildkite
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#8802 [ci] Revert the zypper test failures fix
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#8804 [ci] Remove explicit debug log level from omnibus pipelines
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8805 Add Chef Infra Client 15.2 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8809 Stop building Chef Infra Client on FreeBSD 10
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip All

#8824 Update Chef 14 deps to the latest
  Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#8839 Fix the build arguments in the Dockerfile
  Dockerfile
Labels: Expeditor: Skip All

#8840 Fix the build arguments in the Dockerfile
  Dockerfile
Labels: Expeditor: Skip All

#8846 Fix node[:cookbooks] attribute
  lib/chef/node.rb
  lib/chef/policy_builder/expand_node_object.rb
  lib/chef/policy_builder/policyfile.rb
  lib/chef/run_context.rb
  spec/integration/client/client_spec.rb
Labels: Type: Regression
