Repository chef/chef, pull requests merged in 2019-09, with the labels that each got.

#8857 Update InSpec to 4.16 and addressable to 2.7.0
  Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#8851 Update Ruby to 2.6.4 and nokogori to 10.10.4 to resolve CVEs
  Gemfile.lock
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Labels: Expeditor: Bump Version Minor

#8871 Roll back to 15.3.X. I accidently bumped to 15.4
  VERSION
Labels: Expeditor: Skip Changelog

#8873 Fix simple typo: acceptannce -> acceptance
  CHANGELOG.md
Labels: Expeditor: Skip All

#8877 Add release notes for new user changes in 15.3
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8868 Add more resource examples to the codebase
  lib/chef/resource/apt_repository.rb
  lib/chef/resource/apt_update.rb
  lib/chef/resource/archive_file.rb
  lib/chef/resource/build_essential.rb
  lib/chef/resource/chocolatey_config.rb
  lib/chef/resource/chocolatey_feature.rb
  lib/chef/resource/chocolatey_package.rb
  lib/chef/resource/chocolatey_source.rb
  lib/chef/resource/cron_access.rb
  lib/chef/resource/cron_d.rb
  lib/chef/resource/dmg_package.rb
  tasks/docs.rb
Labels: Expeditor: Bump Version Minor

#8890 Revert the version back to 15.4.1
  VERSION
Labels: Expeditor: Skip Changelog

#8889 Remove some references to Travis from code comments
  omnibus_overrides.rb
  spec/functional/resource/ifconfig_spec.rb
  spec/functional/resource/mount_spec.rb
Labels: Expeditor: Skip All
