Repository chef/chef, pull requests merged in 2019-02, with the labels that each got.

#8193 windows_certificate: Import PFX certificates with their private keys
  Gemfile.lock
  chef-universal-mingw32.gemspec
  lib/chef/resource/windows_certificate.rb
  spec/functional/resource/windows_certificate_spec.rb
Labels: Status: Waiting on Contributor

#8194 Update rubygems to 2.7.8 and bundler to 1.17.3
  .travis.yml
  omnibus/Gemfile.lock
  omnibus_overrides.rb
  spec/unit/knife/bootstrap_spec.rb
Labels: Expeditor: Bump Version Minor

#8167 powershell_script: Prefer user provided flags over the defaults
  lib/chef/provider/powershell_script.rb
  lib/chef/resource/powershell_script.rb
  spec/functional/resource/powershell_script_spec.rb
  spec/support/shared/unit/script_resource.rb
  spec/unit/provider/powershell_script_spec.rb
  spec/unit/resource/powershell_script_spec.rb
Labels: Platform: Windows, Type: Breaking Change, Type: Enhancement

#8198 Add windows_dfs and windows_dns resources
  lib/chef/resource/windows_dfs_folder.rb
  lib/chef/resource/windows_dfs_namespace.rb
  lib/chef/resource/windows_dfs_server.rb
  lib/chef/resource/windows_dns_record.rb
  lib/chef/resource/windows_dns_zone.rb
  lib/chef/resources.rb
  spec/unit/resource/windows_dfs_folder_spec.rb
  spec/unit/resource/windows_dfs_namespace_spec.rb
  spec/unit/resource/windows_dfs_server_spec.rb
  spec/unit/resource/windows_dns_record_spec.rb
  spec/unit/resource/windows_dns_zone_spec.rb
Labels: Platform: Windows, Type: Enhancement

#8213 Rename resource specs to all end in spec.rb
  spec/unit/resource/openssl_dhparam_spec.rb
  spec/unit/resource/timezone_spec.rb
  spec/unit/resource/windows_certificate_spec.rb
  spec/unit/resource/windows_feature_dism_spec.rb
  spec/unit/resource/windows_feature_powershell_spec.rb
  spec/unit/resource/windows_feature_spec.rb
  spec/unit/resource/windows_share_spec.rb
Labels: Expeditor: Skip All

#8212 Add windows_uac resource
  lib/chef/resource/windows_uac.rb
  lib/chef/resources.rb
  spec/unit/resource/windows_uac_spec.rb
Labels: Platform: Windows, Type: Enhancement

#8218 Update nokogiri to 1.10.1
  Gemfile.lock
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Labels: Type: Chore

#8219 Chef::Config: Uniform config dir path separator
  chef-config/lib/chef-config/config.rb
  chef-config/spec/unit/config_spec.rb
Labels: Platform: Windows, Status: Waiting on Contributor, Type: Bug

#8210 Add a breaking change for powershell_script to the release notes
  RELEASE_NOTES.md
Labels: Aspect: Documentation, Expeditor: Skip All

#8232 Update scripts to use new EXPEDITOR_ environment variables
  .expeditor/update_dep.sh
  .expeditor/update_dockerfile.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8234 Open the PR against the appropriate release branch
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#8233 Use Expeditor scripts from master branch
  .expeditor/config.yml
  .expeditor/update_dep.sh
  .expeditor/update_dockerfile.sh
  .expeditor/update_version.sh
Labels: Expeditor: Skip All

#8236 Update the Expeditor config
  .expeditor/config.yml
  .expeditor/update_dockerfile.sh
  .expeditor/update_version.sh
Labels: Expeditor: Skip All
