Repository chef/chef, pull requests merged in 2019-10, with the labels that each got.

#8934 Swap test gem install of fpm for chef-ruby-lvm
  kitchen-tests/cookbooks/end_to_end/recipes/packages.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8937 Add testing in Buildkite for Oracle Linux 6/7/8
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8947 Backport buildkite kitchen test updates from Chef 15
  .expeditor/config.yml
  .expeditor/verify.pipeline.yml
  kitchen-tests/Gemfile
  kitchen-tests/README.md
  kitchen-tests/cookbooks/end_to_end/attributes/default.rb
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  kitchen-tests/cookbooks/end_to_end/recipes/packages.rb
  kitchen-tests/kitchen.travis.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8942 Add Chef 14.14 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8955 Remove EOL openSUSE Leap 42 testing
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8954 Add CentOS 8 kitchen testing to buildkite
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8963 fixup some bad rspec to greenify master
  spec/functional/util/powershell/cmdlet_spec.rb
Labels: Expeditor: Skip Changelog

#8989 Add release notes for 14.14.22
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8962 Create habitat test pipeline
  .expeditor/config.yml
  .expeditor/habitat-test.pipeline.yml
Labels: Expeditor: Skip All

#8971 Enhance knife supermarket list & search
  lib/chef/knife/supermarket_list.rb
  lib/chef/knife/supermarket_search.rb
  spec/unit/knife/supermarket_list_spec.rb
  spec/unit/knife/supermarket_search_spec.rb
Labels: Aspect: Performance, Aspect: UX, Focus: knife, Status: Waiting on Contributor

#8969 Add initial Chef 15.4 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8996 Modify release notes for 14.14.25 promotion
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9004 Improve habitat test pipeline
  .expeditor/config.yml
  .expeditor/habitat-test.pipeline.yml
Labels: Expeditor: Skip All

#9007 Fix habitat test pipeline name
  .expeditor/config.yml
Labels: Expeditor: Skip All

#9016 correct typos in license headers
  lib/chef/resource/locale.rb
  spec/unit/knife/cookbook_show_spec.rb
Labels: Aspect: Documentation, Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9008 Fix habitat test pipeline name for real this time
  .expeditor/config.yml
Labels: Expeditor: Skip All

#9019 add a new pipeline for verifying hab plans
  .expeditor/config.yml
  .expeditor/verify.habitat.pipeline.yml
Labels: Expeditor: Skip All

#9030 Fix license acceptance in `omnibus/kitchen.yml`
  omnibus/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus
