Repository chef/chef, pull requests merged in 2019-05, with the labels that each got.

#8447 Remove poise halite testing from Travis
  .travis.yml
Labels: Expeditor: Skip All

#8449 add a group for chefstyle so it can be excluded
  Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Changelog

#8450 update the ci verify tasks for chef-15
  ci/verify-chef.bat
  ci/verify-chef.sh
Labels: Expeditor: Skip Changelog

#8472 Accept-no-persist the license in the Rakefile
  Rakefile
Labels: Expeditor: Skip All

#8478 quote fix for chefstyle
  Rakefile
Labels: Expeditor: Skip All

#8479 Remove purposefully failing test - no longer want to gate releases
  spec/unit/knife/bootstrap_spec.rb
Labels: Expeditor: Skip All

#8471 knife bootstrap should only request license when installing Chef 15
  Gemfile.lock
  chef.gemspec
  lib/chef/knife/bootstrap.rb
  lib/chef/knife/core/bootstrap_context.rb
  lib/chef/knife/core/windows_bootstrap_context.rb
  spec/unit/knife/bootstrap_spec.rb
  spec/unit/knife/core/bootstrap_context_spec.rb
  spec/unit/knife/core/windows_bootstrap_context_spec.rb
Labels: Type: Enhancement

#8504 Switch expeditor gem updating to use bundle lock
  .expeditor/config.yml
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#8509 Add comments to the Dockerfile explaining how it all works
  Dockerfile
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#8503 Add chef version debug info in the kitchen tests
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip All

#8529 Take angrychef out of the expeditor config
  .expeditor/config.yml
Labels: Expeditor: Skip Changelog, Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#8530 Turn off version bump subscriptions
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8531 Enable angrychef again, but disable hab builds
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8537 Disable AngryChef builds and promotions
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8541 Chef Infra Client 15 Release Notes copyedits
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8559 Add BK public verify pipeline
  .expeditor/config.yml
  .expeditor/verify.pipeline.yml
  .travis.yml
  kitchen-tests/kitchen.travis.yml
  kitchen-tests/kitchen.yml
  scripts/bk_tests/bk_install.sh
Labels: Expeditor: Skip All

#8564 Remove commented workloads from Expeditor config.yml
  .expeditor/config.yml
Labels: Expeditor: Skip Changelog

#8563 Add back release note edits that were accidently deleted
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8200 Fixed issue for chef-client run was throwing error when provided empty string with it
  lib/chef/application.rb
  lib/chef/mixin/from_file.rb
  spec/functional/mixin/from_file_spec.rb
  spec/unit/application/solo_spec.rb
  spec/unit/application_spec.rb
  spec/unit/environment_spec.rb
  spec/unit/role_spec.rb
Labels: Type: Bug

#8604 Tell people what file a link is pointing at.
  lib/chef/provider/file.rb
  lib/chef/win32/file.rb
  spec/support/shared/unit/provider/file.rb
Labels: Expeditor: Bump Version Minor

#8615 Pin ruby_prof to < 0.18 to prevent appveyor failures
  Gemfile
  Gemfile.lock
Labels: Expeditor: Skip All

#8622 Add 14.13 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All
