Repository chef/chef, pull requests merged in 2019-06, with the labels that each got.

#8628 Add hooks for plugins in knife bootstrap
  lib/chef/knife/bootstrap.rb
Labels: Expeditor: Bump Version Minor

#8627 Enable more BK verification tests
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
  scripts/bk_tests/bk_dokken_install.sh
  scripts/bk_tests/bk_install.sh
  scripts/bk_tests/bk_linux_exec.sh
  spec/functional/resource/ifconfig_spec.rb
Labels: Expeditor: Skip All

#8636 Speed up buildkite tests
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8639 More speedups to the Buildkite PR verification tests
  .expeditor/verify.pipeline.yml
  tasks/bin/run_external_test
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8649 Document how to release Chef
  RELEASE_NOTES.md
  docs/dev/design_documents/how_chef_is_tested_and_built.md
  docs/dev/how_to/releasing_chef_infra.md
Labels: Expeditor: Skip All

#8646 Update the changelog to not mention Rubygems
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8667 More upgrading from Chef 12 docs
  docs/dev/how_to/updating_chef12.md
Labels: Expeditor: Skip All

#8676 Improvements to omnibus buildkite pipeline
  .expeditor/release.omnibus.yml
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#8680 Make omnibus-test.sh use appropriate toolchain
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#8684 Create omnibus buildkite pipelines
  .expeditor/config.yml
  .expeditor/release.omnibus.yml
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#8674 Add Chef 14.12.9 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8685 Replace jenkins with buildkite for master branch
  .expeditor/config.yml
  ci/verify-chef.bat
  ci/verify-chef.sh
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
  spec/functional/resource/insserv_spec.rb
Labels: Expeditor: Skip All

#8686 Replace jenkins with buildkite for chef-14 branch
  .expeditor/config.yml
  ci/verify-chef.bat
  ci/verify-chef.sh
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
  spec/functional/resource/insserv_spec.rb
Labels: Expeditor: Skip All

#8663 Improve how we bundler install in appveyor
  appveyor.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8694 Add rake task for generating the docs site content
  .gitignore
  Rakefile
  docs/dev/how_to/releasing_chef_infra.md
  tasks/docs.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus
