Repository chef/chef, pull requests merged in 2019-01, with the labels that each got.

#8083 Remove myself as maintainer and promote Amy as FreeBSD Lieutenant
  MAINTAINERS.md
Labels: Expeditor: Skip All

#8090 Simplify the sub-systems in the Chef maintainers file
  MAINTAINERS.md
  MAINTAINERS.toml
Labels: Expeditor: Skip All

#8088 Update openssl to 1.0.2q and bring in latest omnibus-software
  Gemfile.lock
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Labels: Aspect: Security

#7918 windows_task resource: Allow non-system users without password
  Gemfile.lock
  lib/chef/provider/windows_task.rb
  lib/chef/resource/windows_task.rb
  spec/functional/resource/windows_task_spec.rb
  spec/unit/resource/windows_task_spec.rb
Labels: Platform: Windows

#8114 Update expeditor config for the new labels
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8127 Pull in the gem update retry logic from DK
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#8126 Chef 14: Pull in the gem update retry logic from DK
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#8130 Update license scout 1.0.21
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Changelog

#8133 Update license_scout to 1.0.22
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Changelog

#8113 Promote Hab package alongside Omnibus package
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8144 Pin Chefstyle to 0.11.2 in chef-14 branch
  Gemfile
  Gemfile.lock
Labels: Expeditor: Skip Changelog

#8151 Remove 'attributes' attribute from cookbook metadata
  .travis.yml
  lib/chef/cookbook/metadata.rb
  spec/data/cookbooks/openldap/metadata.rb
  spec/data/metadata/quick_start/metadata.rb
  spec/integration/knife/cookbook_show_spec.rb
  spec/unit/cookbook/metadata_spec.rb
  spec/unit/knife/cookbook_show_spec.rb
Labels: Type: Breaking Change

#8159 Remove bogus "solaris" platform from specs
  spec/functional/resource/cron_spec.rb
  spec/unit/provider_resolver_spec.rb
Labels: Aspect: Testing, Expeditor: Skip Omnibus, Type: Tech Debt

#8160 Remove hpux support from group's usermod provider
  lib/chef/provider/group/usermod.rb
  spec/unit/provider_resolver_spec.rb
Labels: Platform: Unix-like, Type: Breaking Change, Type: Tech Debt

#8147 Add release notes for 14.9
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8118 windows_certificate: Ensure all actions are fully idempotent
  lib/chef/resource/windows_certificate.rb
  spec/data/windows_certificates/othertest.cer
  spec/data/windows_certificates/test.cer
  spec/data/windows_certificates/test.pem
  spec/data/windows_certificates/test.pfx
  spec/functional/resource/windows_certificate_spec.rb
Labels: Type: Bug

#8163 windows_certificate: Ensure all actions are fully idempotent
  lib/chef/resource/windows_certificate.rb
  spec/data/windows_certificates/othertest.cer
  spec/data/windows_certificates/test.cer
  spec/data/windows_certificates/test.pem
  spec/data/windows_certificates/test.pfx
  spec/functional/resource/windows_certificate_spec.rb
Labels: Expeditor: Bump Version Minor

#8158 Remove support for unsupported opensuse < 42 from group provider
  kitchen-tests/cookbooks/end_to_end/metadata.rb
  lib/chef/provider/group/groupadd.rb
  lib/chef/provider/group/suse.rb
  lib/chef/provider/group/usermod.rb
  lib/chef/providers.rb
  spec/unit/provider/group/usermod_spec.rb
  spec/unit/provider_resolver_spec.rb
Labels: Type: Breaking Change

#8169 Misc YARD updates for knife
  lib/chef/formatters/indentable_output_stream.rb
  lib/chef/knife/core/bootstrap_context.rb
  lib/chef/knife/core/generic_presenter.rb
  lib/chef/knife/core/node_presenter.rb
  lib/chef/knife/core/status_presenter.rb
  lib/chef/knife/core/ui.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8175 Add a project alias in expeditor
  .expeditor/config.yml
Labels: Expeditor: Skip All

#8190 Update knife bootstrap template to use up to date omnitruck URL
  lib/chef/knife/bootstrap/templates/chef-full.erb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#8188 Add 14.10 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#8178 Convert execute_resource remaining properties to use properties
  lib/chef/resource/execute.rb
  lib/chef/resource/script.rb
Labels: Aspect: Documentation, Type: Tech Debt
