Repository chef/chef, pull requests merged in 2020-11, with the labels that each got.

#10603 Update to the new chefstyle
  .rubocop.yml
  Gemfile.lock
Labels: Expeditor: Skip Version Bump

#10622 Update the yaml we generate for resource documentation
  tasks/docs.rb
Labels: Expeditor: Skip Version Bump

#10625 Add additional property coerce specs to mount
  spec/unit/resource/mount_spec.rb
Labels: Expeditor: Skip Version Bump

#10632 fix chefstyle violations
  lib/chef/resource/registry_key.rb
Labels: Expeditor: Skip All

#10639 Disable Lint/Debugger complaining out chef-shell using irb
  lib/chef/shell/ext.rb
Labels: Expeditor: Skip All

#10638 knife bootstrap deps require net/ssh
  lib/chef/knife/bootstrap.rb
Labels: Focus: knife bootstrap, Status: Sustaining Backlog

#10472 mount: Changes to fix creating multiple entries in fstab
  lib/chef/provider/mount/mount.rb
  spec/unit/provider/mount/mount_spec.rb
Labels: Platform: Linux, Status: Waiting on Contributor

#10659 Update the docs generation for the new format
  tasks/docs.rb
Labels: Expeditor: Skip Version Bump

#10617 Add Chef Infra Client 16.7 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10691 Resolve new spacing offenses in RuboCop 1.4
  Gemfile.lock
  lib/chef/cookbook_manifest.rb
  lib/chef/encrypted_data_bag_item/assertions.rb
  lib/chef/exceptions.rb
  lib/chef/provider/git.rb
  lib/chef/resource/template.rb
  lib/chef/resource_collection/resource_set.rb
  lib/chef/win32/api/file.rb
  spec/integration/recipes/recipe_dsl_spec.rb
  spec/unit/knife/core/node_editor_spec.rb
  spec/unit/provider/mount/windows_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10697 Update our release cadence docs
  README.md
  docs/dev/design_documents/client_release_cadence.md
Labels: Expeditor: Skip All
