Repository chef/chef, pull requests merged in 2020-12, with the labels that each got.

#10709 Switch back to chefstyle from github
  Gemfile
  Gemfile.lock
  lib/chef/encrypted_data_bag_item/assertions.rb
  lib/chef/provider/git.rb
  lib/chef/resource/template.rb
  lib/chef/resource_collection/resource_set.rb
  omnibus/Gemfile.lock
  spec/unit/knife/core/node_editor_spec.rb
Labels: Expeditor: Bump Version Minor

#10718 only run systemd unit tests on linux
  spec/unit/provider/systemd_unit_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10725 Add Chef Infra Client 16.8 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10734 Add release notes for 16.8.14
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10741 Remove a useless test.
  spec/unit/mixin/openssl_helper_spec.rb
Labels: Expeditor: Skip All

#10739 Improve our automated resource documentation generation
  lib/chef/resource/chef_gem.rb
  lib/chef/resource/file.rb
  lib/chef/resource/gem_package.rb
  lib/chef/resource/http_request.rb
  lib/chef/resource/mdadm.rb
  lib/chef/resource/osx_profile.rb
  lib/chef/resource/remote_directory.rb
  lib/chef/resource/ruby.rb
  lib/chef/resource/ruby_block.rb
  tasks/docs.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10744 Extend the PR verification timeout to 45 minutes
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#10746 Remove old test script.
  spec/scripts/ssl-serve.rb
Labels: Expeditor: Skip Version Bump

#10754 Cleanup bootstrap's trusted_certs_dir tests.
  spec/data/trusted_certs_empty/.gitkeep
  spec/data/trusted_certs_empty/README.md
  spec/unit/knife/bootstrap_spec.rb
Labels: Expeditor: Bump Version Minor

#10755 Update links to Compliance Phase documentation in log messages.
  lib/chef/compliance/fetcher/automate.rb
  lib/chef/compliance/fetcher/chef_server.rb
  lib/chef/compliance/reporter/automate.rb
  lib/chef/compliance/reporter/chef_server_automate.rb
Labels: Status: Incomplete

#10757 Setup Expeditor to start the bump
  .expeditor/config.yml
Labels: Expeditor: Skip All

#10379 Chef 17: Assume Rubygems 1.8 in the rubygems provider / specs
  lib/chef/provider/package/rubygems.rb
  spec/unit/provider/package/rubygems_spec.rb
Labels: Type: Breaking Change

#10783 Fix typo in comment.
  lib/chef/policy_builder/policyfile.rb
Labels: Expeditor: Skip All

#10761 Stub http requests in rubygems tests.
  spec/data/rubygems.org/latest_specs.4.8.gz
  spec/data/rubygems.org/nonexistent_gem
  spec/data/rubygems.org/sexp_processor
  spec/data/rubygems.org/sexp_processor-4.15.1.gemspec.rz
  spec/unit/provider/package/rubygems_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10784 Update spellcheck task for new version of cspell.
  tasks/spellcheck.rb
Labels: Expeditor: Skip All

#10785 Move all the CI scripts into the .expeditor dir
  .expeditor/habitat-test.pipeline.yml
  .expeditor/scripts/bk_container_prep.sh
  .expeditor/scripts/bk_linux_exec.sh
  .expeditor/scripts/bk_run_choco.ps1
  .expeditor/scripts/bk_win_functional.ps1
  .expeditor/scripts/bk_win_integration.ps1
  .expeditor/scripts/bk_win_prep.ps1
  .expeditor/scripts/bk_win_unit.ps1
  .expeditor/scripts/ensure-minimum-viable-hab.ps1
  .expeditor/scripts/install-hab.sh
  .expeditor/scripts/verify-plan.ps1
  .expeditor/scripts/verify-plan.sh
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#9847 Fix dnf_package version and arch property support and idempotency
  lib/chef/provider/package.rb
  lib/chef/provider/package/dnf.rb
  lib/chef/provider/package/dnf/dnf_helper.py
  lib/chef/provider/package/dnf/python_helper.rb
  spec/functional/resource/dnf_package_spec.rb
Labels: Platform: RHEL-like

#10787 Don't install util-linux into the containers in CI
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10723 Ensure we can still install RHEL 7 GCC on RHEL 6 in testing
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10789 Remove Test Kitchen tests for Amazon Linux 201X
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10790 Replace Ubuntu 20.10 testing with 21.04
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10791 Add Test Kitchen testing for Debian 11
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10793 Fix escaping in doc string.
  lib/chef/resource/windows_certificate.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10802 Add expeditor update subscriptions for all our gem deps
  .expeditor/config.yml
Labels: Expeditor: Skip All
