Repository chef/chef, pull requests merged in 2020-01, with the labels that each got.

#9202 Update CONTRIBUTING.md with info about signing off from the github ui
  CONTRIBUTING.md
Labels: Expeditor: Skip All

#9214 Bump to get a new current release
  README.md
Labels: Expeditor: Skip Changelog

#9215 bump to license_scount 1.1.3
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Changelog

#9241 Fix the project alias in expeditor
  .expeditor/config.yml
Labels: Expeditor: Skip Changelog, Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9230 Document the process for bumping the major version
  docs/dev/how_to/building_and_installing.md
  docs/dev/how_to/bumping_minor_or_major_versions.md
  docs/dev/how_to/bumping_the_major_version.md
  docs/dev/how_to/releasing_chef_infra.md
Labels: Expeditor: Skip All

#9262 Add Chef 15.7 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9272 attempt #2 at describing adding a DCO when making a change from the GitHub UI
  CONTRIBUTING.md
Labels: Expeditor: Skip All

#9276 [minor] ignore byebug command history file
  .gitignore
Labels: Expeditor: Skip All

#9284 add berkshelf as an external test
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9307 Add windows_nt_version and powershell_version helpers to chef-utils
  chef-utils/lib/chef-utils/dsl/windows.rb
  chef-utils/spec/unit/dsl/windows_spec.rb
Labels: Expeditor: Bump Version Minor
