Repository chef/chef, pull requests merged in 2020-10, with the labels that each got.

#10500 Update examples and descriptions for better automated documentation
  lib/chef/resource/apt_repository.rb
  lib/chef/resource/chef_client_config.rb
  lib/chef/resource/chef_client_cron.rb
  lib/chef/resource/chef_client_scheduled_task.rb
  lib/chef/resource/chef_client_systemd_timer.rb
  lib/chef/resource/chef_sleep.rb
  lib/chef/resource/cron/cron_d.rb
  lib/chef/resource/kernel_module.rb
  lib/chef/resource/launchd.rb
  lib/chef/resource/mount.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10501 Add 16.6 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10504 Make sure to thank tecRacer
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10505 Minor updates for documentation generation
  lib/chef/resource/route.rb
  lib/chef/resource/sudo.rb
  lib/chef/resource/systemd_unit.rb
  lib/chef/resource/windows_certificate.rb
  lib/chef/resource/windows_font.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10506 Make sure to thank burtlo as well
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10508 Update powershell_script description to match docs site.
  lib/chef/resource/powershell_script.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10518 Update docs generation task to handle Chef 16 required format
  tasks/docs.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10523 Remove test for old monkeypatch.
  spec/unit/monkey_patches/uri_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10531 Remove custom constant mocking in favor of rspec's.
  spec/support/mock/constant.rb
  spec/support/mock/platform.rb
Labels: Expeditor: Skip All

#10535 Remove insserv-compat from opensuse now that it's there by default
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip All

#10550 Remove an empty before block in a spec
  spec/unit/provider/subversion_spec.rb
Labels: Expeditor: Bump Version Minor

#10553 Add Test Kitchen testing on Ubuntu 20.10
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10554 Add back Oracle 8 Test Kitchen testing
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#10568 Add a minor comment explaining why we check file types
  chef-config/lib/chef-config/mixin/dot_d.rb
Labels: Expeditor: Skip All

#10567 Improve the package docs generation + resolve rubocop warnings
  tasks/docs.rb
Labels: Expeditor: Skip Version Bump

#10569 Correctly generate docs yaml files to include package warnings
  tasks/docs.rb
Labels: Expeditor: Skip Version Bump

#10575 Fix some spelling / cookstyle errors in the git examples
  lib/chef/resource/scm/git.rb
  lib/chef/resource/scm/subversion.rb
Labels: Expeditor: Skip Version Bump

#10578 Don't run rspec with documentation formatter.
  habitat/tests/spec.ps1
  habitat/tests/test.sh
Labels: Expeditor: Skip Version Bump

#10576 Remove the provider_resolver specs that are not helpful
  spec/unit/provider_resolver_spec.rb
Labels: Expeditor: Skip Version Bump
