Repository chef/chef, pull requests merged in 2020-09, with the labels that each got.

#10372 Shell test cleanup
  spec/unit/shell/shell_ext_spec.rb
  spec/unit/shell/shell_session_spec.rb
  spec/unit/shell_spec.rb
Labels: Expeditor: Skip All

#10387 Fix windows habitat CI test script
  habitat/tests/test.pester.ps1
Labels: Expeditor: Skip All

#10393 [data-collector] improved output_locations validation & bug fixes
  docs/dev/design_documents/data_collector.md
  lib/chef/data_collector.rb
  lib/chef/data_collector/config_validation.rb
  lib/chef/data_collector/run_end_message.rb
  lib/chef/data_collector/run_start_message.rb
  spec/unit/data_collector/config_validation_spec.rb
  spec/unit/data_collector_spec.rb
Labels: Focus: Data collector, Status: Sustaining Backlog

#10398 Mock File.expand_path to fix window C:/ dir appended in absolute path
  spec/unit/data_collector/config_validation_spec.rb
Labels: Expeditor: Skip Version Bump

#10370 Remove a redundant spec loop
  spec/unit/provider/route_spec.rb
Labels: Expeditor: Skip Version Bump

#10400 Add Patents link to chef infra & solo client
  lib/chef/application/knife.rb
  lib/chef/dist.rb
  lib/chef/formatters/doc.rb
  lib/chef/formatters/minimal.rb
Labels: Status: Sustaining Backlog

#10419 Add Chef Infra Client 15.14 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Bump Version Minor

#10427 Remove an outdated comment.
  lib/chef/application.rb
Labels: Expeditor: Skip All

#10434 Remove the Ubuntu azure pipeline test
  azure-pipelines.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10432 Add examples to the ohai resource
  lib/chef/resource/ohai.rb
  tasks/docs.rb
Labels: Aspect: Documentation

#10407 Add release notes for Chef Infra Client 16.5
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10438 Speed up a openssl helper specs
  spec/unit/mixin/openssl_helper_spec.rb
Labels: Expeditor: Skip Version Bump

#10440 Docs fixes from review
  RELEASE_NOTES.md
  lib/chef/resource/chef_handler.rb
  lib/chef/resource/openssl_ec_public_key.rb
  lib/chef/resource/openssl_x509_request.rb
  lib/chef/resource/powershell_package_source.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10467 Remove unnecessary requires from ResourceReporter.
  lib/chef/resource_reporter.rb
Labels: Expeditor: Skip All

#10466 Remove unncessary test state.
  spec/unit/data_collector_spec.rb
Labels: Expeditor: Skip All

#10469 Update release notes for 16.5.77
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10473 Update to the windows_audit_policy resource to fix a bug on failure-only auditing
  kitchen-tests/cookbooks/end_to_end/recipes/windows.rb
  lib/chef/resource/windows_audit_policy.rb
Labels: Expeditor: Bump Version Minor
