Repository chef/chef, pull requests merged in 2020-03, with the labels that each got.

#9437 Rename cop in the .rubocop.yml for new chefstyle
  .rubocop.yml
  Gemfile.lock
Labels: Expeditor: Skip All

#9446 fixing some windows func test breaks
  lib/chef/provider.rb
  lib/chef/provider/batch.rb
  lib/chef/provider/powershell_script.rb
  lib/chef/provider/windows_script.rb
Labels: Expeditor: Skip Changelog

#9280 Add windows_security_policy resource
  lib/chef/resource/windows_security_policy.rb
  lib/chef/resources.rb
  spec/functional/resource/windows_security_policy_spec.rb
Labels: Platform: Windows

#9465 Stop installing packages on our constainers that are already there
  .expeditor/verify.pipeline.yml
  scripts/bk_tests/bk_container_prep.sh
  scripts/bk_tests/bk_linux_exec.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9467 Fix windows_certificate functional tests under buildkite
  lib/chef/resource/windows_certificate.rb
  spec/data/windows_certificates/base64_test.cer
  spec/data/windows_certificates/othertest.cer
  spec/data/windows_certificates/test.cer
  spec/data/windows_certificates/test.p7b
  spec/data/windows_certificates/test.pem
  spec/data/windows_certificates/test.pfx
  spec/functional/resource/windows_certificate_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9468 Use the aws cli to download ruby in the windows tests
  scripts/bk_tests/bk_win_functional.ps1
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9466 Set env vars in the container setup script
  .expeditor/verify.pipeline.yml
  scripts/bk_tests/bk_container_prep.sh
Labels: Expeditor: Skip All

#9472 Fix require breaking windows functional tests in BK
  spec/unit/cookbook/gem_installer_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9473 Add more folding to the windows functional tests
  scripts/bk_tests/bk_win_functional.ps1
Labels: Expeditor: Skip All

#9479 Fix load path in test runs.
  spec/spec_helper.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9485 Fix typo in the cron_access docs
  lib/chef/resource/cron_access.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9484 Turn off notifications from log resource by default
  chef-config/lib/chef-config/config.rb
  lib/chef/formatters/doc.rb
  lib/chef/provider/log.rb
  lib/chef/providers.rb
  lib/chef/resource.rb
  lib/chef/resource/log.rb
  lib/chef/resource/notify_group.rb
  spec/integration/recipes/notifies_spec.rb
  spec/integration/recipes/notifying_block_spec.rb
  spec/unit/provider/log_spec.rb
  spec/unit/provider_resolver_spec.rb
Labels: Type: Breaking Change

#9503 Update InSpec 4.18.100, Ohai to 15.8, and Fauxhai to 8
  .rubocop.yml
  Gemfile.lock
  lib/chef/knife/environment_compare.rb
  lib/chef/knife/list.rb
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#8729 add group to windows_firewall_rule resource
  lib/chef/resource/windows_firewall_rule.rb
Labels: Platform: Windows

#9519 Remove outdated comment about shell args on different platforms.
  lib/chef/mixin/shell_out.rb
Labels: Expeditor: Skip All

#9520 If we can't remove the Ruby installer in windows tests that's cool
  scripts/bk_tests/bk_win_functional.ps1
Labels: Expeditor: Skip All

#9534 Add missing introduced value to the new property in rhsm_register
  lib/chef/resource/rhsm_register.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9537 Modify pre-command hook to only run in verify pipeline
  .buildkite/hooks/pre-command
Labels: Expeditor: Skip All

#9549 Skip the ifconfig functional tests if we don't have ifconfig
  spec/functional/resource/ifconfig_spec.rb
  spec/spec_helper.rb
  spec/support/platform_helpers.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9532 restore magic resource name ordering
  lib/chef/resource/lwrp_base.rb
Labels: Expeditor: Skip Changelog, Type: Breaking Change

#9550 build_essential resource: fix macOS 10.15 and improve installation support with a new :upgrade action for macOS
  lib/chef/resource/build_essential.rb
  spec/unit/resource/build_essential_spec.rb
  spec/unit/resource/data/InstallHistory_with_CLT.plist
  spec/unit/resource/data/InstallHistory_without_CLT.plist
Labels: Type: Breaking Change

#9555 Skip the ifconfig functional tests if we don't have ifconfig
  spec/functional/resource/ifconfig_spec.rb
  spec/spec_helper.rb
  spec/support/platform_helpers.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus
