Repository chef/chef, pull requests merged in 2020-04, with the labels that each got.

#9568 Stop building S390x packages
  .expeditor/release.omnibus.yml
Labels: Type: Breaking Change

#9580 Update the 15.9 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9585 Add security notes for 15.9
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9601 Backport windows_task PR #8420 and #9223
  lib/chef/provider/windows_task.rb
  lib/chef/resource/windows_task.rb
  spec/functional/resource/windows_task_spec.rb
  spec/unit/resource/windows_task_spec.rb
Labels: Expeditor: Bump Version Minor

#9608 Download and verify the Ruby installer, then move into place
  scripts/bk_tests/bk_win_functional.ps1
Labels: Expeditor: Skip Changelog

#9605 14 backport: Improved Ruby download/install for functional tests
  scripts/bk_tests/bk_win_functional.ps1
Labels: Expeditor: Skip Changelog

#9607 Cache gems in the verify pipeline to speed up tests
  .expeditor/verify.pipeline.yml
  scripts/bk_tests/bk_container_prep.sh
  scripts/bk_tests/bk_linux_exec.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9616 Add 14.15 release notes [skip-ci]
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9622 Add arm? helper to chef-utils
  chef-utils/README.md
  chef-utils/lib/chef-utils/dsl/architecture.rb
  chef-utils/spec/unit/dsl/architecture_spec.rb
Labels: Backport: 15

#9634 Fix knife bootstrap_version CLI option overriding config option
  lib/chef/knife/bootstrap.rb
  lib/chef/knife/core/bootstrap_context.rb
  spec/unit/knife/core/bootstrap_context_spec.rb
Labels: Backport: 15, Focus: knife bootstrap, Type: Bug

#9651 Add arm? helper to chef-utils
  chef-utils/README.md
  chef-utils/lib/chef-utils/dsl/architecture.rb
  chef-utils/spec/unit/dsl/architecture_spec.rb
Labels: Expeditor: Bump Version Minor

#9299 Remove support for SLES11 and update tests to just on openSUSE
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
  lib/chef/resource/sysctl.rb
  omnibus/omnibus-test.sh
  spec/functional/assets/inittest
  spec/functional/resource/insserv_spec.rb
  spec/spec_helper.rb
  spec/support/platform_helpers.rb
Labels: Status: Waiting on Contributor, Type: Tech Debt

#9649 msu_package: Fix cumulative updates installation and provide a 3600s default timeout
  lib/chef/provider/package/cab.rb
  lib/chef/provider/package/msu.rb
  lib/chef/resource/msu_package.rb
  spec/functional/resource/msu_package_spec.rb
  spec/unit/resource/msu_package_spec.rb
Labels: Platform: Windows, Status: Waiting on Contributor

#9671 Cache gems in Buildkite testing
  .expeditor/verify.pipeline.yml
  scripts/bk_tests/bk_container_prep.sh
  scripts/bk_tests/bk_linux_exec.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9678 Fix typo in chef-utils comment
  chef-utils/README.md
  chef-utils/lib/chef-utils/dsl/virtualization.rb
Labels: Expeditor: Skip All

#9683 Add unit tests around Chef::VersionString
  spec/unit/node_spec.rb
Labels: Expeditor: Skip Changelog

#9688 Force requiring properties
  lib/chef/property.rb
  lib/chef/provider.rb
  lib/chef/resource/windows_env.rb
  spec/unit/property/validation_spec.rb
Labels: Type: Breaking Change

#7982 Add multipackage support to homebrew
  lib/chef/provider/package/homebrew.rb
  lib/chef/resource/homebrew_package.rb
  spec/unit/provider/package/homebrew_spec.rb
Labels: Platform: macOS, Type: Enhancement

#9691 CentOS 6.9 Fauxhai deprecation
  chef-utils/spec/unit/dsl/platform_family_spec.rb
Labels: Expeditor: Skip All

#9692 [CHORE] with_clean_env is deprecated
  omnibus/omnibus-test.ps1
  tasks/bin/run_external_test
  tasks/dependencies.rb
  tasks/rspec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9706 Add 15.10 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9672 Enable caching of all our buildkite jobs again
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9733 Use our fork of docker-api in the kitchen tests
  kitchen-tests/Gemfile
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9737 Run Test Kitchen tests on Ruby 2.7
  docs/dev/how_to/building_and_installing.md
  scripts/bk_tests/bk_linux_exec.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9752 [CI] add exitstatus checks after bare commands in PowerShell scripts
  scripts/bk_tests/bk_run_choco.ps1
  scripts/bk_tests/bk_win_functional.ps1
  scripts/bk_tests/bk_win_integration.ps1
  scripts/bk_tests/bk_win_unit.ps1
Labels: Expeditor: Skip All

#9758 add a ridiculous amount of emoji to buildkite test names
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#9756 Fix the powershell spec to use the right method
  spec/unit/mixin/powershell_exec_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9614 Add Chef Infra Client 16 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9760 Fix a typo in the Chef 16 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9772 Some fixes for Chef 16 release notes.
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9774 Remove an unused spec helper
  spec/support/platform_helpers.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus
