Repository chef/chef, pull requests merged in 2020-05, with the labels that each got.

#9739 fix Habitat Windows package build
  Rakefile
  habitat/plan.ps1
  scripts/ci/ensure-minimum-viable-hab.ps1
Labels: Aspect: Packaging

#9793 Add release notes for 16.0.275 [skip-ci]
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9811 Align all our comments with the code
  chef-config/lib/chef-config/path_helper.rb
  chef-config/spec/unit/config_spec.rb
  lib/chef/application/apply.rb
  lib/chef/application/exit_code.rb
  lib/chef/chef_fs/chef_fs_data_store.rb
  lib/chef/chef_fs/file_system/chef_server/policies_dir.rb
  lib/chef/chef_fs/file_system/chef_server/rest_list_dir.rb
  lib/chef/chef_fs/file_system/multiplexed_dir.rb
  lib/chef/cookbook_version.rb
  lib/chef/deprecated.rb
  lib/chef/dsl/platform_introspection.rb
  lib/chef/knife/bootstrap.rb
  lib/chef/mixin/create_path.rb
  lib/chef/node/mixin/deep_merge_cache.rb
  lib/chef/provider/service/simple.rb
  lib/chef/provider/windows_task.rb
  lib/chef/resource/launchd.rb
  lib/chef/resource/macos_userdefaults.rb
  lib/chef/resource/windows_firewall_rule.rb
  lib/chef/resource/windows_share.rb
  lib/chef/resource/windows_task.rb
  lib/chef/util/dsc/lcm_output_parser.rb
  lib/chef/win32/api/file.rb
  lib/chef/win32/process.rb
  spec/functional/resource/user/dscl_spec.rb
  spec/functional/resource/user/mac_user_spec.rb
  spec/support/shared/functional/file_resource.rb
  spec/unit/knife/role_env_run_list_add_spec.rb
  spec/unit/knife/role_env_run_list_clear_spec.rb
  spec/unit/knife/role_env_run_list_remove_spec.rb
  spec/unit/knife/role_env_run_list_replace_spec.rb
  spec/unit/knife/role_env_run_list_set_spec.rb
  spec/unit/knife/role_run_list_add_spec.rb
  spec/unit/knife/role_run_list_clear_spec.rb
  spec/unit/knife/role_run_list_remove_spec.rb
  spec/unit/knife/role_run_list_replace_spec.rb
  spec/unit/knife/role_run_list_set_spec.rb
  spec/unit/provider/git_spec.rb
  spec/unit/provider/osx_profile_spec.rb
  spec/unit/provider/package/msu_spec.rb
  spec/unit/provider/service/gentoo_service_spec.rb
  spec/unit/provider_resolver_spec.rb
  spec/unit/run_context_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9814 Fix a small rdoc formatting bug for `copy_properties_from`.
  lib/chef/mixin/properties.rb
Labels: Expeditor: Skip All

#9813 Add ohai_hint and openssl_* testing in Test Kitchen
  kitchen-tests/cookbooks/end_to_end/files/certs/GlobalSignRootCA.pem
  kitchen-tests/cookbooks/end_to_end/files/certs/base64-cert2.cer
  kitchen-tests/cookbooks/end_to_end/files/certs/der-cert1.cer
  kitchen-tests/cookbooks/end_to_end/files/certs/test-cert.cer
  kitchen-tests/cookbooks/end_to_end/files/certs/test-cert.pfx
  kitchen-tests/cookbooks/end_to_end/files/certs/test-cert.pvk
  kitchen-tests/cookbooks/end_to_end/files/certs/test_cert.crt
  kitchen-tests/cookbooks/end_to_end/files/certs/test_der.der
  kitchen-tests/cookbooks/end_to_end/files/certs/test_p7b.p7b
  kitchen-tests/cookbooks/end_to_end/recipes/_ohai_hint.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_openssl.rb
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9816 Expand our sudo, sysctl, execute, apt_update and apt_preference testing
  kitchen-tests/cookbooks/end_to_end/recipes/_apt.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_sudo.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_sysctl.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_yum.rb
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  scripts/bk_tests/bk_linux_exec.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9818 Cache the gems during the Test Kitchen tests
  scripts/bk_tests/bk_linux_exec.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9819 Don't update rubygems / bundler in the kitchen tests
  scripts/bk_tests/bk_linux_exec.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9828 Try removing asdf entirely and just use omnibus-toolchain
  .expeditor/verify.pipeline.yml
  scripts/bk_tests/bk_linux_exec.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#9842 Add examples to windows_security_policy
  lib/chef/resource/windows_security_policy.rb
  lib/chef/resource/windows_user_privilege.rb
Labels: Aspect: Documentation

#9856 Test PRs against Ruby 2.7
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9859 Add Ubuntu 20.04 testing to our pipeline
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9863 Remove most of the emojis from the buildkite tests
  .expeditor/verify_public.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9864 Switch Ruby functional test on Windows to Ruby 2.7
  .expeditor/verify_public.pipeline.yml
  scripts/bk_tests/bk_win_functional.ps1
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9873 Add 16.1 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Bump Version Minor

#9892 Fixed armv6l and armv7l tests.
  chef-utils/spec/unit/dsl/architecture_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9901 fix dnf tests
  spec/functional/resource/dnf_package_spec.rb
Labels: Expeditor: Skip Changelog

#9877 Refactor verify pipeline to use Ruby 2.7 on Windows docker image
  .expeditor/verify_public.pipeline.yml
  scripts/bk_tests/bk_win_functional.ps1
  scripts/bk_tests/bk_win_integration.ps1
  scripts/bk_tests/bk_win_prep.ps1
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9908 Windows functional test should be single-use
  .expeditor/verify_public.pipeline.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9907 Add 15.11 Release Notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9906 Windows functional tests should be single-use
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#9917 Add 16.1.16 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#9833 Add ssl_verify option for remote_file
  lib/chef/http.rb
  lib/chef/http/ssl_policies.rb
  lib/chef/provider/remote_file/http.rb
  lib/chef/resource/remote_file.rb
  spec/unit/http/ssl_policies_spec.rb
Labels: Expeditor: Bump Version Minor

#9921 CHEF_MVPS for 2019
  CHEF_MVPS.md
Labels: Expeditor: Skip All

#9926 Improve auto-generated docs
  RELEASE_NOTES.md
  docs/dev/design_documents/resource_load_and_converge_methods.md
  docs/dev/how_to/bumping_the_major_version.md
  lib/chef/resource/homebrew_package.rb
  lib/chef/resource/kernel_module.rb
  lib/chef/resource/plist.rb
  lib/chef/resource/template.rb
  tasks/docs.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#9939 Add additional testing for macOS hosts
  azure-pipelines.yml
  kitchen-tests/cookbooks/end_to_end/recipes/_cron.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_dmg_package.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_macos_userdefaults.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_sysctl.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_yum.rb
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  kitchen-tests/cookbooks/end_to_end/recipes/macos.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump
