Repository chef/chef, pull requests merged in 2020-07, with the labels that each got.

#10113 Remove Buildkite Pipelines
  .expeditor/config.yml
Labels: Expeditor: Skip All

#10124 Add spaces after attrs
  chef-utils/spec/unit/dsl/introspection_spec.rb
  chef-utils/spec/unit/dsl/platform_spec.rb
  lib/chef/chef_fs/file_system/repository/base_file.rb
  lib/chef/exceptions.rb
  lib/chef/knife/bootstrap/train_connector.rb
  lib/chef/knife/core/hashed_command_loader.rb
  lib/chef/mixin/template.rb
  lib/chef/resource.rb
  lib/chef/resource/lwrp_base.rb
  lib/chef/shell/shell_session.rb
  spec/functional/run_lock_spec.rb
  spec/integration/recipes/resource_converge_if_changed_spec.rb
  spec/integration/recipes/resource_load_spec.rb
  spec/unit/dsl/platform_introspection_spec.rb
  spec/unit/event_dispatch/dispatcher_spec.rb
  spec/unit/provider_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10127 Fix systemd unit test on Windows.
  spec/unit/provider/systemd_unit_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10136 Remove reference to deprecated option in test helper.
  spec/support/shared/integration/knife_support.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10139 Disable Naming/AsciiIdentifiers in our specs
  spec/integration/recipes/recipe_dsl_spec.rb
  spec/unit/property_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10142 Fix spellcheck CI task
  .expeditor/verify.pipeline.yml
  cspell.json
  tasks/spellcheck.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10145 Minor chefstyle fixes in the spellcheck task
  tasks/spellcheck.rb
Labels: Expeditor: Bump Version Minor

#10150 Fix two warnings in tests.
  spec/unit/win32/security_spec.rb
Labels: Expeditor: Skip Version Bump

#10102 Test and Promote Habitat builds on Linux
  .expeditor/config.yml
  .expeditor/habitat-test.pipeline.yml
  .expeditor/verify.habitat.pipeline.yml
  .expeditor/verify.pipeline.yml
  habitat/plan.sh
  habitat/tests/spec.ps1
  habitat/tests/test.sh
  scripts/ci/install-hab.sh
  scripts/ci/verify-plan.sh
  spec/functional/shell_spec.rb
Labels: Status: Waiting on Contributor

#10155 Use rspec constant stubbing.
  spec/unit/provider/service/windows_spec.rb
Labels: Expeditor: Skip Version Bump

#10154 Don't allow setting expectations on nil.
  spec/spec_helper.rb
  spec/unit/chef_fs/file_system/operation_failed_error_spec.rb
  spec/unit/cookbook/gem_installer_spec.rb
Labels: Expeditor: Skip Version Bump

#10160 Workaround rubygems ssl test failure
  spec/unit/provider/package/rubygems_spec.rb
Labels: Expeditor: Skip Version Bump

#10148 Avoid requiring spec_helper more than once
  spec/functional/resource/windows_user_privilege_spec.rb
  spec/functional/run_lock_spec.rb
  spec/functional/util/powershell/cmdlet_spec.rb
  spec/functional/version_spec.rb
  spec/unit/data_collector_spec.rb
  spec/unit/json_compat_spec.rb
  spec/unit/knife/cookbook_upload_spec.rb
  spec/unit/provider/ifconfig_spec.rb
  spec/unit/provider/package/smartos_spec.rb
  spec/unit/provider/service/redhat_spec.rb
  spec/unit/resource_reporter_spec.rb
  spec/unit/run_lock_spec.rb
  spec/unit/scan_access_control_spec.rb
Labels: Expeditor: Skip Version Bump

#10164 Support legacy DSS host keys with knife-ssh
  lib/chef/knife/ssh.rb
  spec/functional/knife/ssh_spec.rb
Labels: Expeditor: Bump Version Minor

#10153 Don't allow tests to set an expectation without specific error type
  lib/chef/chef_fs/parallelizer/parallel_enumerable.rb
  spec/functional/resource/group_spec.rb
  spec/functional/resource/remote_file_spec.rb
  spec/spec_helper.rb
  spec/support/shared/unit/application_dot_d.rb
  spec/unit/chef_fs/parallelizer_spec.rb
Labels: Expeditor: Skip Version Bump

#10169 update changelog reference to pull request for windows_security_policy 32bit windows compatibility PR
  CHANGELOG.md
Labels: Expeditor: Skip All

#10131 Replace highline ui.ask password prompt with tty-prompt gem
  Gemfile.lock
  chef.gemspec
  lib/chef/knife/bootstrap.rb
  lib/chef/knife/configure.rb
  lib/chef/knife/core/ui.rb
  lib/chef/knife/ssh.rb
  spec/functional/knife/ssh_spec.rb
  spec/unit/knife/bootstrap_spec.rb
Labels: Status: Sustaining Backlog

#10192 Initial 16.3 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10209 Disable docker in Expeditor for now
  .expeditor/config.yml
Labels: Expeditor: Skip All

#10212 Mark a private method as private with yard
  lib/chef/handler.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10214 Define local test variables to avoid test load order bug.
  spec/unit/http/api_versions_spec.rb
  spec/unit/server_api_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10217 Move words from the dictionary to the Chef dictionary
  cspell.json
Labels: Expeditor: Skip All

#10227 Release 15.13
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10228 Add 16.3.45 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10180 Add dobi-powered Docker build pipelines
  .expeditor/build.docker.yml
  .expeditor/config.yml
  .expeditor/update_version.sh
  .gitignore
  Dockerfile
  cspell.json
  dobi.yaml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10231 Introduce EXPEDITOR_VERSION for docker image tag
  .expeditor/build.docker.yml
  .expeditor/update_version.sh
  dobi.yaml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10233 Add a spellcheck exception for a word that snuck in.
  cspell.json
Labels: Expeditor: Skip All

#10220 Compensate for libyaml changes in yaml parsing test.
  spec/unit/node/immutable_collections_spec.rb
Labels: Expeditor: Skip Version Bump
