Repository chef/chef, pull requests merged in 2020-08, with the labels that each got.

#10249 Convert openssl resources to unified_mode
  lib/chef/mixin/openssl_helper.rb
  lib/chef/resource/openssl_dhparam.rb
  lib/chef/resource/openssl_ec_private_key.rb
  lib/chef/resource/openssl_ec_public_key.rb
  lib/chef/resource/openssl_rsa_private_key.rb
  lib/chef/resource/openssl_rsa_public_key.rb
  lib/chef/resource/openssl_x509_certificate.rb
  lib/chef/resource/openssl_x509_crl.rb
  lib/chef/resource/openssl_x509_request.rb
Labels: Expeditor: Bump Version Minor

#10264 Speed up our bundle installs by always running 3 jobs
  habitat/plan.ps1
  habitat/plan.sh
  omnibus/omnibus-test.sh
  tasks/bin/run_external_test
  tasks/rspec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10261 Update spellcheck config with nice stuff from other repos.
  tasks/spellcheck.rb
Labels: Expeditor: Skip Version Bump

#10278 Remove an unnecessary shared_context from execute resource tests
  spec/unit/resource/execute_spec.rb
Labels: Expeditor: Skip Version Bump

#10279 Clean up some interdependencies in script resource tests.
  spec/support/shared/unit/script_resource.rb
  spec/support/shared/unit/windows_script_resource.rb
  spec/unit/resource/batch_spec.rb
  spec/unit/resource/powershell_script_spec.rb
  spec/unit/resource/script_spec.rb
Labels: Expeditor: Skip Version Bump

#10280 Fix broken powershell_script test.
  spec/unit/provider/powershell_script_spec.rb
Labels: Expeditor: Skip Version Bump

#10237 client-run per resource error detail
  lib/chef/action_collection.rb
  lib/chef/data_collector/run_end_message.rb
  spec/unit/data_collector_spec.rb
Labels: Status: Sustaining Backlog

#10288 double quotes in example for string interpolation
  lib/chef/resource/execute.rb
Labels: Expeditor: Skip Version Bump

#10286 Renew an expired SSL Certificate
  spec/data/ssl/chef-rspec.cert
Labels: Expeditor: Skip Version Bump

#10292 Update Omnibus kitchen config with public boxes
  omnibus/kitchen.yml
Labels: Expeditor: Skip Version Bump

#10304 Add 16.4 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip Version Bump

#10322 Fix chefstyle in the Test Kitchen test
  kitchen-tests/cookbooks/end_to_end/recipes/macos.rb
Labels: Expeditor: Skip All

#10190 Add integration and unit tests back to omnibus tests in buildkite
  .expeditor/release.omnibus.yml
  Rakefile
  chef-utils/lib/chef-utils/dsl/which.rb
  chef-utils/spec/unit/dsl/which_spec.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
  spec/spec_helper.rb
  spec/support/platform_helpers.rb
  spec/support/shared/unit/application_dot_d.rb
  spec/unit/chef_fs/parallelizer_spec.rb
  spec/unit/knife/core/ui_spec.rb
  spec/unit/mixin/powershell_exec_spec.rb
  spec/unit/provider/package/powershell_spec.rb
  spec/unit/provider/package/rubygems_spec.rb
  spec/unit/run_lock_spec.rb
  spec/unit/util/selinux_spec.rb
Labels: Expeditor: Skip Changelog

#10331 Add new chef_client_trusted_certificate resource
  cspell.json
  kitchen-tests/cookbooks/end_to_end/recipes/_chef_client_trusted_certificate.rb
  kitchen-tests/cookbooks/end_to_end/recipes/linux.rb
  kitchen-tests/cookbooks/end_to_end/recipes/macos.rb
  kitchen-tests/cookbooks/end_to_end/recipes/windows.rb
  lib/chef/resource/chef_client_trusted_certificate.rb
  lib/chef/resources.rb
  spec/unit/resource/chef_client_trusted_certificate_spec.rb
Labels: Expeditor: Bump Version Minor

#10334 Enable rspec --profile in the omnibus tests
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip Changelog

#10340 Document Exit code 43
  docs/dev/design_documents/client_exit_codes.md
Labels: Expeditor: Skip All

#10342 More prominently mention quirks of package_name in windows_package resource docs.
  lib/chef/resource/windows_package.rb
Labels: Expeditor: Skip All

#10338 Start building S390x packages again
  .expeditor/release.omnibus.yml
Labels: Status: Incomplete

#10344 Fix spellcheck task on Windows.
  tasks/spellcheck.rb
Labels: Expeditor: Skip All

#10341 knife config list-profiles UI with tty-table
  Gemfile.lock
  chef.gemspec
  lib/chef/knife/config_list_profiles.rb
  spec/integration/knife/config_list_profiles_spec.rb
Labels: Status: Sustaining Backlog

#10171 Fixed mount Resource for bind mounts is not idempotent.
  kitchen-tests/cookbooks/end_to_end/recipes/_mount.rb
  kitchen-tests/cookbooks/end_to_end/recipes/linux.rb
  lib/chef/provider/mount/linux.rb
  lib/chef/providers.rb
  spec/unit/provider/mount/linux_spec.rb
Labels: Backport: 15, Platform: Linux, Platform: Unix-like, Status: Waiting on Contributor
