Repository chef/chef, pull requests merged in 2021-07, with the labels that each got.

#11787 Chefstyle fixes for RuboCop 1.18.3
  knife/spec/integration/cookbook_download_spec.rb
  lib/chef/client.rb
  lib/chef/json_compat.rb
  lib/chef/provider/lwrp_base.rb
  lib/chef/resource/lwrp_base.rb
  spec/functional/mixin/from_file_spec.rb
  spec/integration/recipes/recipe_dsl_spec.rb
  spec/integration/recipes/resource_action_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#11794 Fix links to master agreement
  lib/chef/resource/chef_client_cron.rb
  lib/chef/resource/chef_client_launchd.rb
  lib/chef/resource/chef_client_scheduled_task.rb
  lib/chef/resource/chef_client_systemd_timer.rb
Labels: Expeditor: Skip Version Bump

#11795 Minor updates to fix docs generation
  lib/chef/resource/chef_client_trusted_certificate.rb
  lib/chef/resource/gem_package.rb
  lib/chef/resource/habitat/habitat_package.rb
  lib/chef/resource/habitat/habitat_sup.rb
  lib/chef/resource/habitat_config.rb
  lib/chef/resource/habitat_install.rb
  lib/chef/resource/habitat_service.rb
  lib/chef/resource/habitat_user_toml.rb
Labels: Expeditor: Skip All

#11805 Fix busted ssh unit specs
  knife/spec/unit/knife/ssh_spec.rb
Labels: Expeditor: Skip Changelog

#11788 Chef Infra Client 17.3 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#11858 Add release notes for 16.14
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#11853 secrets: add support for default config from ohai data
  lib/chef/dsl/secret.rb
  lib/chef/secret_fetcher.rb
  lib/chef/secret_fetcher/aws_secrets_manager.rb
  lib/chef/secret_fetcher/base.rb
  spec/unit/dsl/secret_spec.rb
  spec/unit/secret_fetcher/aws_secrets_manager_spec.rb
  spec/unit/secret_fetcher/azure_key_vault_spec.rb
  spec/unit/secret_fetcher_spec.rb
Labels: Expeditor: Bump Version Minor

#11881 Add adhoc canary pipeline for testing new omnibus workers
  .expeditor/adhoc-canary.omnibus.yml
  .expeditor/config.yml
Labels: Expeditor: Skip All

#11891 Move some words to the global dictionary
  cspell.json
  knife/lib/chef/knife/client_create.rb
Labels: Expeditor: Skip Omnibus, Expeditor: Skip Version Bump
