Repository chef/chef, pull requests merged in 2021-04, with the labels that each got.

#11284 Update Ohai to 16.12.3
  Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#11287 Remove testing of Amazon Linux 201X
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#11286 Add 16.12.0 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#11305 Remove soon to be EOL Ubuntu 16.04 packages
  .expeditor/release.omnibus.yml
  .expeditor/verify.pipeline.yml
  kitchen-tests/kitchen.yml
  omnibus/kitchen.yml
Labels: Expeditor: Bump Version Minor

#11338 revert change to bundler version
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Changelog

#11343 Update to Ruby 2.6.7 and InSpec 4.31.1
  Gemfile.lock
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Labels: Expeditor: Bump Version Minor

#11342 Add 16.13 release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#11364 Move some testing to GitHub Actions
  .expeditor/scripts/bk_run_choco.ps1
  .expeditor/verify.pipeline.yml
  .github/workflows/func_spec.yml
  .github/workflows/lint.yml
Labels: Expeditor: Skip Version Bump

#11373 Test running spellcheck in Github Actions
  .expeditor/verify.pipeline.yml
  .github/workflows/spellcheck.yml
  RELEASE_NOTES.md
Labels: Expeditor: Skip Version Bump

#11374 Add problem matchers for our Chefstyle run in GH
  .github/workflows/lint.yml
  .github/workflows/spellcheck.yml
Labels: Expeditor: Skip Omnibus

#11386 Add release notes for 15.17
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#11384 Update tests to handle local omnibus packages from Buildkite artifacts api
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Do Not Merge

#11383 Update tests to handle local omnibus packages from Buildkite artifacts api
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Do Not Merge

#11382 Update tests to handle local omnibus packages from Buildkite artifacts api
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Do Not Merge

#11425 omit cheffs tests from ruby 2.7
  spec/unit/chef_fs/diff_spec.rb
  spec/unit/chef_fs/file_system_spec.rb
Labels: Expeditor: Skip Changelog

#11422 Add macos unit testing with GitHub actions
  .github/workflows/unit_specs.yml
Labels: Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#11438 Add Test Kitchen tests in GitHub Actions for Windows
  .github/workflows/kitchen.yml
  azure-pipelines.yml
Labels: Expeditor: Skip Version Bump

#11450 Cache all our gems during spec runs
  tasks/rspec.rb
Labels: Expeditor: Skip Version Bump

#11362 Add Chef Infra Client 17 release notes
  RELEASE_NOTES.md
  cspell.json
Labels: Expeditor: Skip All

#11466 Document the unified_mode deprecation warning
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#11467 Update release notes to clarify windows change
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#11482 Add gem files to the gitignore
  .gitignore
Labels: Expeditor: Skip All

#11484 release notes typo
  RELEASE_NOTES.md
Labels: Expeditor: Skip All
