Repository chef/chef, pull requests merged in 2021-05, with the labels that each got.

#11488 Remove knife deps from the chef gemspec
  Gemfile
  Gemfile.lock
  chef.gemspec
  knife/Gemfile
  tasks/rspec.rb
Labels: Aspect: Packaging

#11447 Remove pipeline-specific logic from test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#11446 Remove pipeline-specific logic from test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#11445 Remove pipeline-specific logic from test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#11521 Stop the endless File.exists? spam from chef/node
  lib/chef/node.rb
Labels: Expeditor: Skip Changelog

#11515 Run Linux dokken tests in GitHub Actions
  .expeditor/verify.pipeline.yml
  .github/workflows/kitchen.yml
Labels: Expeditor: Skip Version Bump

#11546 Test more platforms in Dokken / GH Actions
  .github/workflows/kitchen.yml
  kitchen-tests/cookbooks/end_to_end/recipes/linux.rb
Labels: Expeditor: Skip Version Bump

#11548 Reset the DNF helper to greenify tests
  spec/unit/provider/package/dnf/python_helper_spec.rb
Labels: Expeditor: Skip Changelog

#11549 Really fix the DNF spec tests
  spec/unit/provider/package/dnf/python_helper_spec.rb
Labels: Expeditor: Skip Changelog

#11566 Remove knife from the expeditor config
  .expeditor/config.yml
Labels: Expeditor: Skip All

#11575 Add additional action descriptions for docs
  lib/chef/resource/chef_client_config.rb
  lib/chef/resource/chef_client_launchd.rb
  lib/chef/resource/chef_client_scheduled_task.rb
  lib/chef/resource/chef_client_systemd_timer.rb
Labels: documentation

#11588 Enables kernel2 habitat package builds/promotions
  .bldr.toml
  .expeditor/habitat-test.pipeline.yml
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Bump Version Minor

#11589 Fix failing Test Kitchen tests in GitHub actions
  .github/workflows/kitchen.yml
Labels: Expeditor: Skip Omnibus

#11595 Remove comment no longer relevant
  knife/Gemfile
Labels: Expeditor: Skip Version Bump

#11601 Properly generate the docs markdown notes sections
  tasks/docs.rb
Labels: Expeditor: Skip Version Bump

#11610 Make sure we can run dep update on 2+ branches
  .expeditor/update_dep.sh
Labels: Expeditor: Skip Version Bump

#11622 Update Lifetime Community Chef Award Recipients
  CHEF_MVPS.md
Labels: Expeditor: Skip All

#11637 Use our config in RuboCop to prevent pulling in others
  .github/workflows/lint.yml
Labels: Expeditor: Skip All
