Repository chef/chef, pull requests merged in 2021-12, with the labels that each got.

#12145 Fix failures finding validation key when relative path is provided
  lib/chef/application/base.rb
  spec/integration/client/client_spec.rb
  spec/unit/application/base_spec.rb
Labels: Status: Waiting on Contributor, Focus: Msys

#12331 Replace Ubuntu 21.10 testing with 22.04 testing
  .github/workflows/kitchen.yml
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#12341 Resource docs update from docs review
  lib/chef/resource/chef_client_config.rb
  lib/chef/resource/powershell_package_source.rb
  lib/chef/resource/rhsm_register.rb
Labels: Expeditor: Skip All

#12347 Update the DNF spec tests with a helper
  spec/functional/resource/dnf_package_spec.rb
Labels: Expeditor: Skip Changelog

#12354 Fix reference to chef/chef_dictionary main branch
  tasks/spellcheck.rb
Labels: Expeditor: Skip Version Bump

#12370 Setup auto issue labeler for docs
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Expeditor: Skip Version Bump

#12376 Update the pid_one_command for opensuse tests
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip All

#12384 Unpin ohai in omnibus Gemfile
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#12389 Update list of possible RPM arches
  lib/chef/provider/package/yum/python_helper.rb
Labels: Expeditor: Skip Changelog

#12391 Disable one yum test on rhel6
  spec/functional/resource/yum_package_spec.rb
Labels: Expeditor: Skip Changelog

#12392 Bounce the yum helper a few more times during the run
  spec/functional/resource/yum_package_spec.rb
Labels: Expeditor: Skip Changelog

#12383 Unpin ohai in omnibus Gemfile
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#12402 Disable omnibus caching in buildkite
  .expeditor/config.yml
Labels: Expeditor: Skip All

#12401 Disable omnibus caching in buildkite
  .expeditor/config.yml
Labels: Expeditor: Skip All

#12406 correctly bounce the helper a couple of times
  spec/functional/resource/yum_package_spec.rb
Labels: Expeditor: Skip Changelog

#12407 Bounce the yum tests more aggressively
  spec/functional/resource/yum_package_spec.rb
Labels: Expeditor: Skip Changelog

#12418 homebrew_tap: Fix failures due to missing `full` property
  kitchen-tests/cookbooks/end_to_end/recipes/_homebrew_tap.rb
  kitchen-tests/cookbooks/end_to_end/recipes/macos.rb
  lib/chef/resource/homebrew_tap.rb
Labels: documentation
