Repository chef/chef, pull requests merged in 2021-09, with the labels that each got.

#12009 Update all deps to the latest
  Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#12026 Update libarchive and openssl to the latest
  omnibus_overrides.rb
Labels: Expeditor: Bump Version Minor

#12023 Automate release announcements
  .expeditor/announce-release.sh
  .expeditor/config.yml
  .expeditor/publish-release-notes.sh
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#12060 Test on Windows 2022 in GitHub actions
  .github/workflows/kitchen.yml
Labels: Expeditor: Skip Version Bump

#12072 try a build with no vendor caching
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip Changelog

#12075 Specify promotion actions in .expeditor/config.yml
  .expeditor/config.yml
Labels: Expeditor: Skip All

#12076 fix typo in promotion command
  .expeditor/config.yml
Labels: Expeditor: Skip All

#12077 Fix typo in promotion command
  .expeditor/config.yml
Labels: Expeditor: Skip All

#12078 Add Debian / Windows 11 / Windows 2022 packages
  .expeditor/release.omnibus.yml
Labels: Expeditor: Bump Version Minor

#12081 Escape special characters in announce-release
  .expeditor/announce-release.sh
Labels: Expeditor: Skip All

#12082 Fix announce script
  .expeditor/announce-release.sh
Labels: Expeditor: Skip All

#12085 Remove EOL FreeBSD 11 builds
  .expeditor/adhoc-canary.omnibus.yml
  .expeditor/release.omnibus.yml
Labels: Expeditor: Bump Version Minor
