Repository chef/chef, pull requests merged in 2021-02, with the labels that each got.

#10966 Replace deprecated File.exists? with File.exist? in more places
  lib/chef/dsl/reboot_pending.rb
  lib/chef/file_access_control/windows.rb
  lib/chef/file_cache.rb
  lib/chef/formatters/error_inspectors/resource_failure_inspector.rb
  lib/chef/handler/json_file.rb
  spec/unit/dsl/reboot_pending_spec.rb
  spec/unit/formatters/error_inspectors/resource_failure_inspector_spec.rb
Labels: Expeditor: Bump Version Minor, Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#10972 Add Release Notes for 16.10
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#10990 fix chefstyle error
  lib/chef/resource/user_ulimit.rb
Labels: Expeditor: Skip Changelog

#11031 mount: Fix for network mounts which use the root level as the device
  lib/chef/provider/mount/mount.rb
  spec/unit/provider/mount/mount_spec.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#11040 Fix typo in powershell_script.rb
  lib/chef/resource/powershell_script.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#11080 16.10.17 notes
  RELEASE_NOTES.md
Labels: Aspect: Documentation

#11081 Revert "Update name of macos builder in Buildkite"
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip All

#11082 Rename macOS target from 11 to 11.0 to avoid logic issue in Omnitruck
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip All

#11087 Fix tests broken by unlazying defaults
  lib/chef/resource/file.rb
  spec/unit/property_spec.rb
  spec/unit/provider/group_spec.rb
Labels: Expeditor: Skip Changelog

#11100 Create a PR any time Ohai is bumped
  .expeditor/config.yml
Labels: Expeditor: Skip All

#11101 Automatically create PRs to update chefstyle
  .expeditor/config.yml
Labels: Expeditor: Skip All
