Repository chef/chef, pull requests merged in 2021-03, with the labels that each got.

#11123 Update update_dep to allow passing in the dep to update
  .expeditor/update_dep.sh
Labels: Expeditor: Skip Changelog, Expeditor: Skip Version Bump

#11126 Fix ffi installs on RHEL6 test-kitchen runs
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Changelog

#11141 Add dep bump PRs for more win32 gems
  .expeditor/config.yml
Labels: Expeditor: Skip All

#11148 Build place for documenting internal/dev/unsupported commands
  docs/dev/devtools/README.md
  docs/dev/devtools/chef-apply.md
Labels: Aspect: Documentation

#11140 Resolve Test Kitchen failures on Oracle 8
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Version Bump

#11174 Use the new macOS 11 setting
  .expeditor/release.omnibus.yml
Labels: Expeditor: Skip All

#11184 Add an expeditor script specific to bundler updated gems
  .expeditor/config.yml
  .expeditor/update_bundler_dep.sh
Labels: Expeditor: Skip All

#11178 Update how we describe Alma Linux in release notes
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#11188 Use DNF on Oracle / CentOS kitchen tests
  kitchen-tests/kitchen.yml
Labels: Expeditor: Bump Version Minor

#11200 Add release notes for Chef Infra Client 16.11
  RELEASE_NOTES.md
Labels: Aspect: Documentation

#11210 Chef 16: backport the post-bundle-install support
  habitat/plan.sh
  kitchen-tests/kitchen.yml
  omnibus/Gemfile.lock
  omnibus/config/software/more-ruby-cleanup.rb
  post-bundle-install.rb
  tasks/bin/run_external_test
Labels: Expeditor: Skip Changelog

#11212 generate a new version + build on master
  README.md
Labels: Expeditor: Skip Changelog

#11215 No changes, generating a build
  README.md
Labels: Expeditor: Skip Changelog

#11245 Backport several fixes and improvements for Chef 16
  lib/chef/provider/package/freebsd/pkgng.rb
  lib/chef/shell.rb
  lib/chef/util/dsc/configuration_generator.rb
  spec/unit/provider/package/freebsd/pkgng_spec.rb
Labels: Expeditor: Bump Version Minor

#11250 Add Release notes for 15.16
  RELEASE_NOTES.md
Labels: Expeditor: Skip All
