Repository chef/chef, pull requests merged in 2021-11, with the labels that each got.

#12235 Fix small documentation typo in execute.rb
  lib/chef/resource/execute.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#12274 pin omnibus builds to chef-16
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#11970 fix dpkg_package doesn't do version comparisons on upgrade
  lib/chef/resource/dpkg_package.rb
  spec/functional/resource/dpkg_package_spec.rb
  spec/unit/resource/dpkg_package_spec.rb
Labels: Focus: Msys

#12282 Do not run assertions for actions that are not being executed
  lib/chef/mixin/why_run.rb
  lib/chef/provider.rb
  spec/unit/file_access_control_spec.rb
  spec/unit/mixin/why_run_spec.rb
  spec/unit/provider/group/groupadd_spec.rb
  spec/unit/provider/group/usermod_spec.rb
  spec/unit/provider/ifconfig_spec.rb
  spec/unit/provider/package/bff_spec.rb
  spec/unit/provider/package/solaris_spec.rb
  spec/unit/provider/service/arch_service_spec.rb
  spec/unit/provider/service/debian_service_spec.rb
  spec/unit/provider/service/gentoo_service_spec.rb
  spec/unit/provider/service/macosx_spec.rb
  spec/unit/provider/service/redhat_spec.rb
  spec/unit/provider/service/simple_service_spec.rb
  spec/unit/provider/user_spec.rb
Labels: Aspect: Performance, Aspect: Stability, Type: Tech Debt

#12318 Rubygems 3.2.x spec fixes
  spec/unit/provider/package/rubygems_spec.rb
Labels: Expeditor: Skip Changelog

#11579 Smriti/10918 mount resource not idempotent
  cspell.json
  lib/chef/provider/mount/linux.rb
  lib/chef/provider/mount/mount.rb
  spec/unit/provider/mount/linux_spec.rb
Labels: Focus: Msys
