Repository chef/chef, pull requests merged in 2022-02, with the labels that each got.

#12512 Initial draft of knife developer guide
  knife/docs/dev/README.md
Labels: Expeditor: Skip All

#12552 Eager load ffi-libarchive to resolve centos-7 failures
  lib/chef/resource/archive_file.rb
  spec/functional/resource/archive_file_spec.rb
  spec/spec_helper.rb
  spec/unit/resource/archive_file_spec.rb
Labels: documentation

#12559 (Backport) Eager load ffi-libarchive to resolve centos-7 failures
  lib/chef/resource/archive_file.rb
  spec/functional/resource/archive_file_spec.rb
  spec/spec_helper.rb
  spec/unit/resource/archive_file_spec.rb
Labels: documentation

#12544 Switch from centos-8 to almalinux-8
  .github/workflows/kitchen.yml
  kitchen-tests/Gemfile
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Version Bump

#12578 Fix habitat builds by using `rake install:local`
  habitat/plan.sh
Labels: Expeditor: Skip Changelog

#12620 Removing many habitat sup tests
  kitchen-tests/cookbooks/end_to_end/recipes/_habitat_sup.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_habitat_sup_toml_config.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_habitat_win_sup_toml_config.rb
  kitchen-tests/cookbooks/end_to_end/recipes/linux.rb
  kitchen-tests/cookbooks/end_to_end/recipes/windows.rb
Labels: Expeditor: Skip Changelog

#12588 Upgrade compilers on centos-7 kitchen tests
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip Changelog

#12625 Workaround binstub conflicts with diff-lcs gem
  .github/workflows/kitchen.yml
Labels: Expeditor: Skip Changelog

#12639 Remove oraclelinux from kitchen testing
  .github/workflows/kitchen.yml
Labels: Expeditor: Skip Changelog
