Repository chef/chef, pull requests merged in 2022-03, with the labels that each got.

#12652 Add train version update subscriptions
  .expeditor/config.yml
Labels: Expeditor: Skip All

#12641 INFC-96 fix docker tags
  .expeditor/promote-docker-images.sh
  kitchen-tests/kitchen.yml
Labels: Expeditor: Skip All

#12642 INFC-96 fix docker tags for chef-17
  .expeditor/promote-docker-images.sh
Labels: Expeditor: Skip All

#12688 Updating win32.gemspec and releasing a new build
  .github/workflows/func_spec.yml
  .github/workflows/kitchen.yml
  Gemfile.lock
  chef-universal-mingw32.gemspec
  kitchen-tests/kitchen.yml
  lib/chef/api_client.rb
  lib/chef/policy_builder/expand_node_object.rb
  lib/chef/policy_builder/policyfile.rb
  lib/chef/provider/package/rubygems.rb
  lib/chef/provider/service/windows.rb
  lib/chef/provider/user/windows.rb
Labels: Expeditor: Bump Version Minor

#12700 Minor fix to conditional in promote-docker-images.sh
  .expeditor/promote-docker-images.sh
Labels: Expeditor: Skip All

#12695 Enable ruby 3.1 testing on verify pipeline for unix, fix breakage
  .expeditor/verify.pipeline.yml
  Gemfile
  Gemfile.lock
  chef-config/lib/chef-config/config.rb
  chef-config/spec/unit/config_spec.rb
  knife/Gemfile
  lib/chef/compliance/input.rb
  lib/chef/compliance/profile.rb
  lib/chef/compliance/waiver.rb
  lib/chef/dsl/reader_helpers.rb
  lib/chef/http/ssl_policies.rb
  lib/chef/node/mixin/immutablize_array.rb
  lib/chef/recipe.rb
  lib/chef/resource/inspec_waiver_file_entry.rb
  post-bundle-install.rb
  spec/data/rubygems.org/sexp_processor-info
  spec/unit/application/client_spec.rb
Labels: documentation

#12706 update chef client launchd to run at load
  lib/chef/resource/chef_client_launchd.rb
Labels: documentation

#12704 IPACK-136 Improve some verify pipeline windows tests
  .expeditor/scripts/bk_win_functional.ps1
  .expeditor/scripts/bk_win_integration.ps1
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#12705 IPACK-136 Improve some verify pipeline windows tests
  .expeditor/scripts/bk_win_functional.ps1
  .expeditor/scripts/bk_win_integration.ps1
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#12680 avoid coercion to block for new plist file content, fix adding a new dictionary
  lib/chef/resource/plist.rb
  spec/functional/resource/plist_spec.rb
Labels: Type: Bug, documentation

#12724 Add rubygems_url property to chef_client_config resource
  kitchen-tests/cookbooks/end_to_end/recipes/_chef_client_config.rb
  kitchen-tests/test/integration/end-to-end/_chef_client_config.rb
  lib/chef/resource/chef_client_config.rb
  lib/chef/resource/support/client.erb
  spec/unit/resource/chef_client_config_spec.rb
Labels: documentation
