Repository chef/chef, pull requests merged in 2023-12, with the labels that each got.

#14120 Pin labeler version... actions/labeler v5 in beta
  .github/workflows/labeler.yml
Labels: Expeditor: Skip All

#14121 removing write output here
  .expeditor/scripts/omnibus_chef_build.ps1
Labels: Expeditor: Skip All

#14127 [chef-17] labeler update
  .github/workflows/labeler.yml
Labels: documentation

#14052 Add support for use_inline_powershell for powershell_script
  kitchen-tests/cookbooks/end_to_end/recipes/windows.rb
  lib/chef/guard_interpreter/resource_guard_interpreter.rb
  lib/chef/provider/powershell_script.rb
  lib/chef/resource/powershell_script.rb
  spec/unit/provider/powershell_script_spec.rb
  spec/unit/resource/powershell_script_spec.rb
Labels: documentation, Focus: Community PR Review

#14134 Move danger runner to dangerjs
  .github/workflows/danger.yml
  .github/workflows/lint.yml
  Dangerfile
  cspell.json
  dangerfile.js
Labels: Focus: Community PR Review

#14152 [chef-17] backport pr14011
  lib/chef/resource/chef_client_systemd_timer.rb
  spec/unit/resource/chef_client_systemd_timer_spec.rb
Labels: documentation

#14153 [chef17] backport homebrew prs
  .github/workflows/kitchen.yml
  cspell.json
  lib/chef/mixin/homebrew_user.rb
  lib/chef/resource/homebrew_cask.rb
  lib/chef/resource/homebrew_package.rb
  lib/chef/resource/homebrew_tap.rb
  spec/unit/mixin/homebrew_user_spec.rb
Labels: documentation
