Repository chef/chef, pull requests merged in 2023-01, with the labels that each got.

#12915 Adds 'makecache_fast' property to `yum_repository` minimise cached repodata
  lib/chef/provider/yum_repository.rb
  lib/chef/resource/yum_repository.rb
  spec/unit/resource/yum_repository_spec.rb
Labels: documentation

#13470 Updating Zypper to overcome repository errors
  .expeditor/adhoc-canary.omnibus.yml
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Bump Version Minor

#12908 backport to 16: flush package cache after registering or unregistering with rhsm_register
  lib/chef/resource/rhsm_register.rb
Labels: Status: Waiting on Release

#13270 [chef-16] INFC-303 - Backport changes from v18 to v16 for documentation
  lib/chef/resource/windows_user_privilege.rb
Labels: Status: Waiting on Release

#13322 Bugfix/backport chef16 checksum validation
  lib/chef/mixin/checksum.rb
  lib/chef/provider/file.rb
  lib/chef/provider/package/windows.rb
  spec/unit/mixin/checksum_spec.rb
Labels: Do Not Merge

#13495 Edit resources description text
  lib/chef/resource/dsc_script.rb
  lib/chef/resource/launchd.rb
  lib/chef/resource/rhsm_register.rb
  lib/chef/resource/selinux_fcontext.rb
  lib/chef/resource/selinux_permissive.rb
  lib/chef/resource/selinux_port.rb
  lib/chef/resource/selinux_state.rb
  lib/chef/resource/service.rb
  lib/chef/resource/user.rb
  lib/chef/resource/windows_user_privilege.rb
Labels: documentation

#13484 Docs and release details
  CONTRIBUTING.md
  cspell.json
  docs/dev/how_to/releasing_chef_infra.md
Labels: documentation

#13509 Example of bash resource doubled escape characters
  lib/chef/resource/bash.rb
Labels: documentation
