Repository chef/chef, pull requests merged in 2023-03, with the labels that each got.

#13254 [chef-17] INFC-303 - Backport changes from v18 to v17 for documentation and mis…
  lib/chef/resource/windows_user_privilege.rb
Labels: documentation

#13511 Add selinux_user and selinux_login resources
  kitchen-tests/cookbooks/end_to_end/recipes/linux.rb
  lib/chef/resource/selinux_login.rb
  lib/chef/resource/selinux_user.rb
  lib/chef/resources.rb
  spec/unit/resource/selinux_login_spec.rb
  spec/unit/resource/selinux_user_spec.rb
Labels: documentation, Status: Waiting on Release

#12791 set default values for user and host on userdefaults
  .github/workflows/func_spec.yml
  lib/chef/resource/macos_userdefaults.rb
  spec/functional/resource/macos_userdefaults_spec.rb
  spec/unit/resource/macos_user_defaults_spec.rb
Labels: Status: Waiting on Contributor, documentation

#13643 Update bundled dependencies for both chef and chef/omnibus
  Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor
