Repository chef/chef, pull requests merged in 2023-02, with the labels that each got.

#13535 fix(apt_repository): Detect changes to expiration in key
  lib/chef/resource/apt_repository.rb
  spec/unit/provider/apt_repository_spec.rb
Labels: Status: Waiting on Contributor, documentation

#13562 Update pre-install cleanup
  cspell.json
  omnibus/package-scripts/angrychef/preinst
  omnibus/package-scripts/chef/preinst
Labels: Aspect: Packaging, Platform: RHEL-like

#13477 launchd - array instead of a hash for Apple's associated_bundle_ident…
  kitchen-tests/cookbooks/end_to_end/files/io.chef.testing.fake.plist
  kitchen-tests/cookbooks/end_to_end/recipes/_launchd.rb
  kitchen-tests/cookbooks/end_to_end/recipes/linux.rb
  lib/chef/resource/launchd.rb
Labels: Status: Waiting on Contributor, documentation

#13581 Document the enhancements to chef verify, adhoc and release pipelines
  docs/dev/ci/README.md
Labels: Expeditor: Skip All

#13467 chore: Use the `chef_dictionary` directly.
  cspell.json
  tasks/spellcheck.rb
Labels: Status: Waiting on Contributor
