Repository chef/chef, pull requests merged in 2023-05, with the labels that each got.

#13728 feat(apt_repository): Allow specifying arbitrary options
  cspell.json
  lib/chef/resource/apt_repository.rb
  spec/unit/provider/apt_repository_spec.rb
  spec/unit/resource/apt_repository_spec.rb
Labels: documentation, Status: Waiting for Build Fix

#13744 File exists? -> exist? deprecation
  lib/chef/resource/windows_certificate.rb
Labels: documentation

#13683 Add efivarfs to list of non-existent mount devices
  cspell.json
  lib/chef/provider/mount/mount.rb
Labels: Status: Waiting for Build Fix

#13669 add arm64 support for default binary path
  cspell.json
  lib/chef/mixin/homebrew_user.rb
  lib/chef/resource/homebrew_cask.rb
  lib/chef/resource/homebrew_package.rb
  lib/chef/resource/homebrew_tap.rb
  spec/unit/mixin/homebrew_user_spec.rb
Labels: documentation
