Repository chef/chef, pull requests merged in 2023-08, with the labels that each got.

#13842 Fix to pick pinned version of chef-foundation on windows
  .expeditor/scripts/omnibus_chef_build.ps1
Labels: Status: Waiting on Contributor

#12825 Backport: (macos_userdefaults) fix for user attr bug
  .github/workflows/func_spec.yml
  lib/chef/resource/macos_userdefaults.rb
  spec/functional/resource/macos_userdefaults_spec.rb
  spec/unit/resource/macos_user_defaults_spec.rb
Labels: documentation

#13890 Pinned chef-foundation version - 1.0.2zf CHEF-4567
  .buildkite-platform.json
Labels: Expeditor: Bump Version Minor
