Repository chef/chef, pull requests merged in 2024-04, with the labels that each got.

#14290 Added the databag_fallback attribute
  lib/chef/policy_builder/policyfile.rb
Labels: Status: Waiting on Contributor

#14312 moving back to supported release version of the plugin
  .buildkite/build-test-omnibus.sh
Labels: Expeditor: Skip All

#14326 [trivial] add missing markdown fence
  lib/chef/resource/execute.rb
Labels: documentation

#14325 Add note about adding account rights not taking immediate effect.
  lib/chef/resource/execute.rb
Labels: documentation
