Repository chef/chef, pull requests merged in 2024-09, with the labels that each got.

#14590 Creating a checklist to help us stay on track during the PR review me…
  README.md
  docs/dev/how_to/community_pr_review_checklist.md
Labels: Expeditor: Skip All, documentation

#14574 [CHEF-18] Remove Freebsd testing
  .github/workflows/kitchen.yml
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  kitchen-tests/cookbooks/end_to_end/recipes/freebsd.rb
  kitchen-tests/kitchen.linux.ci.yml
  kitchen-tests/kitchen.yml
Labels: Type: Chore, Backport: 18

#14566 Backport: replace lint download action with curl in .github lint
  .github/workflows/lint.yml
Labels: Backport: 18

#14593 Removing and updating list
  docs/dev/how_to/community_pr_review_checklist.md
Labels: Expeditor: Skip All

#14595 removing kernel 2 support
  .bldr.toml
  .buildkite/verify.pipeline.sh
  .expeditor/habitat-test.pipeline.yml
  lib/chef/provider/package/habitat.rb
  lib/chef/resource/habitat_install.rb
Labels: documentation

#14615 Add example to homebrew_tap resource.
  cspell.json
  lib/chef/resource/homebrew_tap.rb
Labels: documentation
