Repository chef/chef, pull requests merged in 2024-07, with the labels that each got.

#14465 Updating the client_config_resource
  lib/chef/resource/chef_client_config.rb
  lib/chef/resource/support/client.erb
Labels: documentation

#14466 Backport of 14465 - client_config no method error
  lib/chef/resource/chef_client_config.rb
  lib/chef/resource/support/client.erb
Labels: documentation

#14469 Preparing for Chef-18 and Chef-19 release branches
  .expeditor/config.yml
  .expeditor/publish-release-notes.sh
  VERSION
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#14492 [trivial] fix typo dnf-helper.py -> dnf_helper.py
  lib/chef/provider/package/dnf/python_helper.rb
Labels: Backport: 18

#14484 updating steps
  docs/dev/how_to/bumping_the_major_version.md
Labels: Expeditor: Skip All
