Repository chef/chef, pull requests merged in 2024-08, with the labels that each got.

#14538 [Chef-17][Backport #13147] Fix false updates in cron resource when using integers
  lib/chef/provider/cron.rb
  spec/unit/provider/cron_spec.rb
Labels: Backport: 17, Status: Waiting for Build Fix

#14550 Updating the rdoc version for Chef-18
  Gemfile
  Gemfile.lock
Labels: Status: Waiting for Build Fix

#14557 [backport chef-18] fix pipeline tests
  .github/workflows/danger.yml
  .github/workflows/func_spec.yml
  .github/workflows/kitchen-fips.yml
  .github/workflows/kitchen.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/selfhosted-fips.yml
  .github/workflows/sonarqube.yml
  .github/workflows/unit_specs.yml
  .gitignore
  cspell.json
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  kitchen-tests/cookbooks/end_to_end/recipes/freebsd.rb
  kitchen-tests/cookbooks/end_to_end/recipes/macos.rb
  kitchen-tests/kitchen.linux.ci.yml
  lib/chef/mixin/openssl_helper.rb
Labels: Type: Chore, Backport: 18

#14545 [Backport chef-18] Fix issues with multiple homebrew binaries
  chef-utils/lib/chef-utils/dsl/which.rb
  lib/chef/exceptions.rb
  lib/chef/mixin/homebrew.rb
  lib/chef/provider/package/homebrew.rb
  lib/chef/resource/homebrew_cask.rb
  lib/chef/resource/homebrew_tap.rb
  lib/chef/resource/homebrew_update.rb
  spec/support/chef_helpers.rb
  spec/unit/mixin/homebrew_spec.rb
  spec/unit/mixin/homebrew_user_spec.rb
  spec/unit/provider/package/homebrew_spec.rb
Labels: documentation, Backport: 18

#14555 fix pipeline tests
  .github/workflows/danger.yml
  .github/workflows/func_spec.yml
  .github/workflows/kitchen-fips.yml
  .github/workflows/kitchen.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/selfhosted-fips.yml
  .github/workflows/sonarqube.yml
  .github/workflows/unit_specs.yml
  .gitignore
  cspell.json
  kitchen-tests/cookbooks/end_to_end/recipes/default.rb
  kitchen-tests/cookbooks/end_to_end/recipes/freebsd.rb
  kitchen-tests/cookbooks/end_to_end/recipes/macos.rb
  kitchen-tests/kitchen.linux.ci.yml
  lib/chef/mixin/openssl_helper.rb
Labels: Type: Chore, Status: Waiting for Build Fix

#14544 Fix issues with multiple homebrew binaries
  chef-utils/lib/chef-utils/dsl/which.rb
  lib/chef/exceptions.rb
  lib/chef/mixin/homebrew.rb
  lib/chef/provider/package/homebrew.rb
  lib/chef/resource/homebrew_cask.rb
  lib/chef/resource/homebrew_tap.rb
  lib/chef/resource/homebrew_update.rb
  spec/support/chef_helpers.rb
  spec/unit/mixin/homebrew_spec.rb
  spec/unit/mixin/homebrew_user_spec.rb
  spec/unit/provider/package/homebrew_spec.rb
Labels: Type: Bug, documentation

#14562 Obvious fix: replace lint download action with curl
  .github/workflows/lint.yml
Labels: Backport: 18

#14564 [CHEF-18] fix docker builds
  .expeditor/build-docker-images.sh
  .expeditor/config.yml
  Dockerfile
Labels: Backport: 18

#14350 Fix #6238 - handle link :delete action without `to`
  lib/chef/provider/link.rb
  lib/chef/resource/link.rb
Labels: Status: Waiting on Contributor, documentation

#14470 Strip spaces from apt_repository repo_name.
  lib/chef/resource/apt_repository.rb
Labels: documentation

#14575 Clear user privileges before deleting user in Windows
  cspell.json
  kitchen-tests/cookbooks/end_to_end/recipes/_windows_user_privilege.rb
  lib/chef/provider/user/windows.rb
  lib/chef/win32/security.rb
  spec/unit/provider/user/windows_spec.rb
Labels: Focus: Community PR Review, Chef 18.6

#14576 updated signing key thumbprint
  .buildkite/build-test-omnibus.sh
  .expeditor/scripts/omnibus_chef_build.ps1
Labels: Expeditor: Skip All
