Repository chef/chef, pull requests merged in 2024-11, with the labels that each got.

#14689 Added docs for GHA workflows for new release branches
  docs/dev/how_to/bumping_the_major_version.md
Labels: documentation

#14692 Sean simmons progress/chef 16390 hab export upload s3
  .expeditor/config.yml
  .expeditor/hab-export-pipeline.yml
Labels: Expeditor: Skip All

#14693 Sean simmons progress/chef 16390 hab export upload s3
  .expeditor/hab-export-pipeline.yml
Labels: Expeditor: Skip All

#14697 Sean simmons progress/chef 16390 hab export upload s3 channel
  .expeditor/hab-export-pipeline.yml
Labels: Expeditor: Skip All

#14699 [Chef-18] Set default mask to allow infra client to run uninterrupted on hardened systems
  omnibus/package-scripts/chef/preinst
Labels: Focus: Community PR Review

#14711 Replace do-not-disturb with an actively maintained cask
  kitchen-tests/cookbooks/end_to_end/recipes/macos.rb
Labels: Backport: 18
