Repository chef/chef, pull requests merged in 2024-06, with the labels that each got.

#14367 Backport: Chef-17 - Remove EOL warning
  docs/dev/policy/release_and_support_schedule.md
  lib/chef/client.rb
  spec/unit/client_spec.rb
Labels: Status: Waiting for Build Fix

#14349 [CookbookVersionLoader#load_all_files] Do directory test after name check
  lib/chef/cookbook/cookbook_version_loader.rb
Labels: Status: Waiting for Build Fix

#14429 Remove extra asterisk
  lib/chef/resource/chef_gem.rb
Labels: documentation

#14431 backport fix for chef-client-config
  lib/chef/resource/chef_client_config.rb
  lib/chef/resource/support/client.erb
Labels: documentation

#14348 [Chefignore#parse_ignore_file] Use strip! on lines
  lib/chef/cookbook/chefignore.rb
Labels: Status: Waiting for Build Fix

#14309 Comment property of sysctl resource does not define system state
  lib/chef/resource/sysctl.rb
Labels: Status: Waiting on Contributor, documentation

#14382 Adds AllowClobber powershell_package resource
  lib/chef/provider/package/powershell.rb
  lib/chef/resource/powershell_package.rb
Labels: Status: Waiting on Contributor, documentation

#14351 [FileCache#Find] N to 1 calls for file matching
  lib/chef/file_cache.rb
  spec/unit/file_cache_spec.rb
Labels: Status: Waiting for Build Fix

#14433 Chef 18.5: OpenSSL 3 / chef-foundation split version
  .buildkite-platform.json
  .buildkite/build-test-omnibus.sh
  .expeditor/scripts/download_built_omnibus_pkgs.sh
  Gemfile
  Gemfile.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/omnibus-test.sh
  spec/integration/client/fips_spec.rb
  spec/integration/client/open_ssl_spec.rb
  spec/spec_helper.rb
  spec/support/platform_helpers.rb
Labels: Expeditor: Bump Version Minor
