Repository chef/chef, pull requests merged in 2025-04, with the labels that each got.

#14918 revert: "update pre-command hook for pushing gem"
  .buildkite/hooks/pre-command
Labels: Expeditor: Skip All

#14921 publish infra 19 gem to artifactory
  .expeditor/config.yml
  .expeditor/gem_push_artifactory.pipeline.yml
  .expeditor/scripts/gem_push_artifactory.rb
  .expeditor/scripts/gem_push_artifactory.sh
  .expeditor/scripts/omnibus_chef_publish.rb
  habitat/plan.sh
Labels: Status: Waiting on Contributor

#14936 move gem pipeline to habitat chain
  .expeditor/config.yml
Labels: Expeditor: Skip All

#14945 Back out only_record_changes property
  lib/chef/provider/registry_key.rb
  lib/chef/resource/registry_key.rb
  spec/functional/resource/registry_spec.rb
  spec/unit/provider/registry_key_spec.rb
Labels: documentation

#14800 disabling this value
  .expeditor/config.yml
Labels: Expeditor: Skip All

#14957 Add unimplemented property back
  lib/chef/resource/registry_key.rb
Labels: documentation

#14950 Support arbitrary channel names in snap_package
  lib/chef/provider/package/snap.rb
  lib/chef/provider/package/snap_tm.rb
  lib/chef/resource/snap_package.rb
  spec/unit/resource/snap_package_spec.rb
Labels: Status: Waiting on Contributor, documentation

#14944 fix: ensure apt_repository keys are always dearmored
  cspell.json
  lib/chef/resource/apt_repository.rb
Labels: documentation, Status: Waiting for build run
