Repository chef/chef, pull requests merged in 2025-08, with the labels that each got.

#15140 dependabot removal for 16
  .github/dependabot.yml
Labels: Expeditor: Skip All

#15198 Update .buildkite-platform for gem uninstall rbs -x, fix a warning message on resource
  .buildkite-platform.json
  lib/chef/resource/archive_file.rb
Labels: documentation

#14882 Add test for #14369
  kitchen-tests/cookbooks/end_to_end/recipes/_homebrew_tap.rb
Labels: Status: Waiting on Contributor

#15149 Fix ffi-libarchive load error from habitat package on windows
  cspell.json
  habitat/plan.ps1
  lib/chef/resource/archive_file.rb
Labels: documentation

#15207 fix(apt_repository): Don't set signed-by if there is no key to use
  lib/chef/resource/apt_repository.rb
Labels: documentation

#15218 fix: multiple apt_repos with same key url should be signed-by
  kitchen-tests/cookbooks/end_to_end/recipes/_apt.rb
  kitchen-tests/test/integration/end-to-end/_apt.rb
  lib/chef/resource/apt_repository.rb
Labels: documentation
