Repository chef/chef, pull requests merged in 2025-06, with the labels that each got.

#15034 Remove broken Resource Reporter spec from CHEF-9126 work that is fill…
  spec/unit/resource_reporter_spec.rb
Labels: Type: Build Fix

#15008 Bug fix for apt_repository when creating a new keyring
  lib/chef/resource/apt_repository.rb
  spec/unit/provider/apt_repository_spec.rb
Labels: documentation, Backport: 18

#15044 Fix dearmoring idempotency
  kitchen-tests/cookbooks/end_to_end/recipes/_apt.rb
  lib/chef/resource/apt_repository.rb
  spec/unit/provider/apt_repository_spec.rb
Labels: documentation

#15057 Obvious fix: remove stale TODO
  lib/chef/resource/windows_task.rb
Labels: documentation
