Repository chef/chef, pull requests merged in 2025-07, with the labels that each got.

#15096 Updating Github to use Windows 2025
  .github/workflows/func_spec.yml
  .github/workflows/kitchen-fips.yml
  .github/workflows/kitchen.yml
Labels: Type: Build Fix

#15091 backport #14868 for Chef 18
  lib/chef/provider/package/apt.rb
  lib/chef/provider/package/bff.rb
  lib/chef/provider/package/cab.rb
  lib/chef/provider/package/chocolatey.rb
  lib/chef/provider/package/deb.rb
  lib/chef/provider/package/dnf.rb
  lib/chef/provider/package/habitat.rb
  lib/chef/provider/package/homebrew.rb
  lib/chef/provider/package/ips.rb
  lib/chef/provider/package/macports.rb
  lib/chef/provider/package/msu.rb
  lib/chef/provider/package/openbsd.rb
  lib/chef/provider/package/pacman.rb
  lib/chef/provider/package/paludis.rb
  lib/chef/provider/package/portage.rb
  lib/chef/provider/package/powershell.rb
  lib/chef/provider/package/rpm.rb
  lib/chef/provider/package/rubygems.rb
  lib/chef/provider/package/smartos.rb
  lib/chef/provider/package/snap.rb
  lib/chef/provider/package/solaris.rb
  lib/chef/provider/package/windows.rb
  lib/chef/provider/package/yum.rb
  lib/chef/provider/package/zypper.rb
  lib/chef/resource/apt_package.rb
  lib/chef/resource/dnf_package.rb
  lib/chef/resource/dpkg_package.rb
  lib/chef/resource/package.rb
  lib/chef/resource/rpm_package.rb
  lib/chef/resource/yum_package.rb
  spec/unit/provider/package/rpm_spec.rb
  spec/unit/resource/apt_package_spec.rb
  spec/unit/resource/dnf_package_spec.rb
  spec/unit/resource/yum_package_spec.rb
Labels: documentation, Focus: Community PR Review

#15106 [Chef 18] Support JSON recipes
  lib/chef/cookbook_version.rb
  lib/chef/recipe.rb
  spec/unit/cookbook_version_spec.rb
  spec/unit/recipe_spec.rb
Labels: Focus: Community PR Review

#15111 Add shields to the PR review page
  docs/dev/how_to/community_pr_review_checklist.md
Labels: Expeditor: Skip All

#15143 Adding myself to codeowners for chef-17
  .github/CODEOWNERS
Labels: Expeditor: Skip All
