Repository chef/chef, pull requests merged in 2025-01, with the labels that each got.

#14784 Update macos GA func_spec to use 13, 14, 15 and latest
  .github/workflows/func_spec.yml
Labels: Type: Build Fix

#14780 [Chef-18] Shorten the rspec test data file names which end throwing file not found error on windows upon gem installation
  spec/functional/assets/yumrepo-empty/repodata/01a3b-filelists.sqlite.bz2
  spec/functional/assets/yumrepo-empty/repodata/401dc-filelists.xml.gz
  spec/functional/assets/yumrepo-empty/repodata/5dc1e-primary.sqlite.bz2
  spec/functional/assets/yumrepo-empty/repodata/6bf96-other.xml.gz
  spec/functional/assets/yumrepo-empty/repodata/7c365-other.sqlite.bz2
  spec/functional/assets/yumrepo-empty/repodata/dabe2-primary.xml.gz
  spec/functional/assets/yumrepo-empty/repodata/repomd.xml
Labels: Type: Build Fix

#14787 [Backport] - Updating Windows 11 testing
  spec/functional/resource/cookbook_file_spec.rb
  spec/spec_helper.rb
  spec/support/platform_helpers.rb
  spec/support/shared/functional/file_resource.rb
Labels: Type: Build Fix

#14766 [chef-18] Fix docker container
  .expeditor/build-docker-images.sh
Labels: Expeditor: Skip All, Type: Build Fix

#14790 remove eol'd platforms from testing
  .github/workflows/kitchen.yml
Labels: Type: Build Fix

#14791 [Backport] remove EOL'd OS docker tests
  .github/workflows/kitchen.yml
Labels: Backport: 18, Type: Build Fix

#14788 Shorten the rspec test data file names which might end up throwing file not found error on windows upon gem installation
  spec/functional/assets/yumrepo-empty/repodata/01a3b-filelists.sqlite.bz2
  spec/functional/assets/yumrepo-empty/repodata/401dc-filelists.xml.gz
  spec/functional/assets/yumrepo-empty/repodata/5dc1e-primary.sqlite.bz2
  spec/functional/assets/yumrepo-empty/repodata/6bf96-other.xml.gz
  spec/functional/assets/yumrepo-empty/repodata/7c365-other.sqlite.bz2
  spec/functional/assets/yumrepo-empty/repodata/dabe2-primary.xml.gz
  spec/functional/assets/yumrepo-empty/repodata/repomd.xml
Labels: Type: Build Fix

#14789 Remove 2012 testers from bk adhoc
  .buildkite/build-test-omnibus.sh
  .expeditor/adhoc-canary.omnibus.yml
  .expeditor/release.omnibus.yml
Labels: Type: Build Fix

#14797 Updating the plan file
  .expeditor/scripts/verify-plan.ps1
  .expeditor/scripts/verify-plan.sh
Labels: Type: Build Fix

#14799 try symlink for install
  kitchen-tests/kitchen.dokken.yml
Labels: Type: Build Fix

#14786 Fixes for yum packages and various other failing resources
  cspell.json
  lib/chef/dsl/reader_helpers.rb
  lib/chef/provider/package/yum_tm.rb
  lib/chef/resource/yum_package.rb
  lib/chef/scan_access_control.rb
  lib/chef/target_io/train/dir.rb
Labels: Status: Waiting on Contributor, documentation, Status: Waiting for Build Fix

#14775 Added deb installer for chef infra-client
  .expeditor/scripts/build-infra-deb.sh
Labels: Status: Waiting on Contributor

#14772 Prepare hab based chef-infra-client rpm
  .expeditor/scripts/build-infra-rpm.sh
  .expeditor/scripts/chef-infra-client.spec
Labels: Status: Waiting on Contributor

#14779 fix compliance phase reporting when quiet mode is set to true
  lib/chef/compliance/default_attributes.rb
  lib/chef/compliance/runner.rb
Labels: Status: Waiting on Contributor

#14809 Limit ffi to 1.17.0 max via Ohai bump.
  Gemfile
  Gemfile.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Type: Build Fix

#14795 Updated the license warning message
  knife/lib/chef/knife/bootstrap.rb
Labels: Status: Waiting for Build Fix

#14777 [CHEF-18381] Fixed the issues with knife bootstrap failing on the airgapped envs
  knife/lib/chef/utils/licensing_handler.rb
Labels: Status: Waiting for Build Fix

#14817 [backport] quiet mode fix for compliance phase
  lib/chef/compliance/default_attributes.rb
  lib/chef/compliance/runner.rb
Labels: Backport: 18

#14770 Release file handles after extraction
  lib/chef/resource/archive_file.rb
  spec/unit/resource/archive_file_spec.rb
Labels: documentation

#14761 ohai resource: ensure fix_automatic_attributes is called
  lib/chef/resource/ohai.rb
  spec/functional/resource/ohai_spec.rb
Labels: documentation, Status: Waiting for Build Fix
