Repository chef/chef, pull requests merged in 2025-03, with the labels that each got.

#14881 Reverse the default for only_record_changes
  lib/chef/provider/registry_key.rb
  lib/chef/resource/registry_key.rb
  spec/functional/resource/registry_spec.rb
  spec/unit/provider/registry_key_spec.rb
Labels: documentation

#14883 [Backport 18] Reverse the default for only_record_changes
  lib/chef/provider/registry_key.rb
  lib/chef/resource/registry_key.rb
  spec/functional/resource/registry_spec.rb
  spec/unit/provider/registry_key_spec.rb
Labels: documentation

#14891 Remove 18.04 kitchen tests from main as cleanup
  .github/workflows/kitchen.yml
Labels: Expeditor: Bump Version Minor

#14131 feat: Support Signed-By option for apt repository
  cspell.json
  lib/chef/resource/apt_repository.rb
  spec/unit/provider/apt_repository_spec.rb
Labels: documentation, Focus: Community PR Review

#14876 Knife supermarket share error when cookbook exists
  knife/lib/chef/knife/supermarket_share.rb
Labels: Focus: Community PR Review

#14887 Chef::Util::Powershell::PSCredential leaks plaintext on .inspect
  lib/chef/util/powershell/ps_credential.rb
  spec/unit/util/powershell/ps_credential_spec.rb
Labels: Backport: 18

#14896 Backport of #14131 Support Signed-By option for apt repository
  cspell.json
  lib/chef/resource/apt_repository.rb
  spec/unit/provider/apt_repository_spec.rb
Labels: documentation

#14848 Add cgroup attribute to execute module
  Gemfile.lock
  chef.gemspec
  lib/chef/provider/execute.rb
  lib/chef/resource/execute.rb
Labels: documentation, Status: Waiting for Build Fix, Backport: 18

#14924 Fix cookstyle issues from the now enabled cops
  .rubocop.yml
  chef-bin/Gemfile
  chef-utils/Gemfile
  kitchen-tests/cookbooks/end_to_end/recipes/_chef_client_config.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_homebrew_tap.rb
  kitchen-tests/cookbooks/end_to_end/recipes/_launchd.rb
  kitchen-tests/cookbooks/end_to_end/recipes/linux.rb
  knife/lib/chef/knife/core/cookbook_site_streaming_uploader.rb
  knife/lib/chef/knife/version.rb
  knife/spec/functional/version_spec.rb
  knife/spec/unit/knife/search_spec.rb
  lib/chef/dsl/chef_vault.rb
  lib/chef/resource/chocolatey_installer.rb
  lib/chef/resource/windows_update_settings.rb
  lib/chef/secret_fetcher/akeyless_vault.rb
  lib/chef/secret_fetcher/hashi_vault.rb
  omnibus/config/projects/chef.rb
  omnibus/config/software/chef-foundation.rb
  omnibus/config/software/more-ruby-cleanup.rb
  spec/functional/resource/powershell_package_source_spec.rb
  spec/unit/resource/chocolatey_installer_spec.rb
  spec/unit/resource/rest_resource_spec.rb
  spec/unit/resource/selinux_boolean_spec.rb
  spec/unit/resource/selinux_fcontext_spec.rb
  spec/unit/resource/selinux_install_spec.rb
  spec/unit/resource/selinux_module_spec.rb
  spec/unit/resource/selinux_permissive_spec.rb
  spec/unit/resource/selinux_port_spec.rb
  spec/unit/resource/selinux_state_spec.rb
  spec/unit/secret_fetcher/hashi_vault_spec.rb
Labels: documentation

#14927 updating publish release notes to correct branch
  .expeditor/publish-release-notes.sh
Labels: Expeditor: Skip All
