Repository chef/chef, pull requests merged in 2025-05, with the labels that each got.

#14967 fix: ensure apt_repository keys are always dearmored (#14944)
  .github/workflows/kitchen.yml
  cspell.json
  lib/chef/resource/apt_repository.rb
Labels: documentation

#14930 adding codeowners update
  .github/CODEOWNERS
Labels: Expeditor: Skip All

#15006 fix: ensure load_all_files ignores broken links in the cookbook dir CHEF-1958
  lib/chef/cookbook/cookbook_version_loader.rb
Labels: Focus: Community PR Review

#14972 Pull in latest ohai
  .buildkite-platform.json
  .github/workflows/selfhosted-fips.yml
  Gemfile.lock
  habitat/plan.sh
  kitchen-tests/kitchen.linux.ci.yml
  knife/Gemfile.lock
Labels: Status: Waiting for Build Fix

#15033 Trying a different route for the gpg (#15030)
  .github/workflows/kitchen.yml
  kitchen-tests/files/oracle_vbox_2016.asc
Labels: Expeditor: Skip All, Type: Build Fix
